{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col">
            <div class="d-flex w-100 justify-content-between align-items-start">
                <h1>Administration</h1>
                <a href="{{ path('admin_user_new') }}" class="btn btn-sm btn-primary">Create new user</a>
            </div>

            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Pseudo</th>
                    <th>Email</th>
                    <th>Roles</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.roles|join(', ')|raw }}</td>
                        <td>
                            <div class="btn-group">
                                <a href="{{ path('admin_user_edit', {'uuid': user.uuid}) }}" class="btn btn-sm">
                                    Edit user
                                </a>
                                {{ include('Administration/User/_delete-form.html.twig', {'uuid': user.uuid}) }}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <a href="{{ path('admin_index') }}">< Retour à l'accueil</a>
        </div>
    </div>
{% endblock %}
