{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col">
            <h1>Administration</h1>

            <div class="row">
                <div class="col-3">
                    <div class="card">
                        <div class="card-header">
                            User
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <a href="{{ path('admin_user_new') }}">Create</a>
                            </li>
                            <li class="list-group-item">
                                {% if users %}
                                    <a href="{#{ path('admin_user_edit', {'uuid': users[0].uuid}) }#}">Update</a>
                                {% else %}Update{% endif %}
                            </li>
                            <li class="list-group-item">
                                {% if users %}
                                    {#{ include('Administration/User/_delete-form.html.twig') }#}
                                {% else %}Delete{% endif %}
                            </li>
                        </ul>
                    </div>
                </div>
                {% for user in users %}
                    <div class="col">
                        <p>User name : {{ user.username }}</p>
                        <p>Address email : {{ user.email }}</p>
                        <p>Password: {{ user.password }}</p>
                        <p>Role: </p>
                        {% for role in user.roles %}
                            <p>{{ role }}</p>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>

            <a href="{{ path('admin_index') }}">< Retour à l'accueil</a>
        </div>
    </div>
{% endblock %}
