{% extends "base.html.twig" %}

{% block title %}
    {{ '%entity% creation'|trans({'%entity%': 'menu.material'|trans({}, 'messages')}, 'admin') }} - {{ parent() }}
{% endblock %}

{% block body_title %}
    <i class="fa fa-pie-chart" aria-hidden="true"></i>
    {{ '%entity% creation'|trans({'%entity%': 'menu.material'|trans({}, 'messages')}, 'admin') }}
{% endblock %}

{% block glstock_body %}

    {% include 'App/Settings/Diverse/Material/form.html.twig' %}

    <div class="btn-group record_actions">
        {% include 'homeButton.html.twig' %}
        <a class="btn btn-info btn-list" href="{{ path('material') }}">
            {{ 'gestock.return_list'|trans }}
        </a>
    </div>

{% endblock %}
