{# src\Glsr\GestockBundle\Resources\views\Gestock\Inventory\form.html.twig #}
{% set lastloop = 0 %}
<form method="post" {{ form_enctype(form) }} class="form-inline" role='form'>
    {{ form_errors(form) }}
    <fieldset><legend>{{ 'glsr.gestock.article.settings.information'|trans }}</legend>
        <div class="col-lg-5 form-group">
            {{ form_label(form.id, 'glsr.gestock.inventory.seizure.item'|trans) }}
                    <span class="text-danger">{{ form_errors(form.id) }}</span>
                    &nbsp;{{ form_widget(form.id) }}
        </div>
        <div class="col-lg-7 form-group">
            {{ form_label(form.date, 'glsr.gestock.date'|trans) }}
                    <span class="text-danger">{{ form_errors(form.date) }}</span>
                    &nbsp;{{ form_widget(form.date) }}
        </div>
    </fieldset>
    <fieldset><legend>{{ 'glsr.gestock.details'|trans }}</legend>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th class="col-lg-3">{{ 'glsr.gestock.title_item'|trans }}</th>
                    <th class="col-lg-1">{{ 'glsr.gestock.article.settings.theoretical_stock'|trans }}</th>
                    <th class="col-lg-1">{{ 'glsr.gestock.article.settings.real_stock'|trans }}</th>
                    <th class="col-lg-1">{{ 'glsr.gestock.settings.diverse.unitstorage'|trans }}</th>
                    <th class="col-lg-1">{{ 'glsr.gestock.article.settings.packaging'|trans }}</th>
                    <th class="col-lg-2">{{ 'glsr.gestock.article.settings.price'|trans }}</th>
                    <th class="col-lg-2">{{ 'glsr.gestock.inventory.seizure.total'|trans }}</th>
                    <th class="col-lg-1">{{ 'glsr.gestock.inventory.seizure.gap'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% for article in form.articles %}
                <tr>
                    <td class="col-lg-4">
                        {{ form_widget(article.name, {'attr':{'class':'inventory'}}) }}
                    </td>
                    <td>
                        {{ form_widget(article.quantity, {'attr':{'class':'inventory'}}) }}
                    </td>
                    <td>
                        {{ form_widget(article.realstock, {'attr':{'onChange':'realstockcalcul('~(loop.index-1)~')'}}) }}
                    </td>
                    <td>
                        {{ form_widget(article.unit_storage) }}
                    </td>
                    <td>
                        {{ form_widget(article.packaging, {'attr':{'class':'inventory'}}) }}
                    </td>
                    <td>
                        {{ form_widget(article.price, {'attr':{'class':'inventory'}}) }}
                    </td>
                    <td>
                        <input type="text" id="{{ form.articles.vars.id }}_{{loop.index - 1}}_total" class="inventory" value="{{ (article.realstock.vars.value * article.price.vars.value)|number_format(3, ',', ' ') }}" readonly="readonly" /> €
                    </td>
                    <td style="text-align:right">
                        <input type="text" id="{{ form.articles.vars.id }}_{{loop.index - 1}}_gap" class="inventory" value="{{ (article.realstock.vars.value - article.quantity.vars.value)|number_format(3, ',', ' ') }}" readonly="readonly" />
                        
                    </td>
                </tr>
                {% set lastloop = loop.index %}
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="6">{{ 'glsr.gestock.inventory.seizure.totals'|trans }}</th>
                    <td>{{ form_widget(form.amount, {'attr':{'class':'inventory'}}) }}</td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
    </fieldset>
    <input type="submit" class="btn btn-default btn-primary" value="{{ 'glsr.gestock.validate'|trans }}" />
    <p>&nbsp;</p>
</form>
<p>
    <a href="{{ path('glstock_home') }}" class="btn btn-default" role="button">
         <i class="glyphicon glyphicon-chevron-left"></i>
         {{ 'glsr.gestock.home.return'|trans }}
    </a>&nbsp;
    <a href="{{ path('glstock_inventory') }}" class="btn btn-default" role="button">
        <i class="glyphicon glyphicon-chevron-left"></i>
        {{ 'glsr.gestock.cancel'|trans }}
    </a>
</p>

{# S'il y a plus d'une page, on affiche la liste des pages #}
{#    {% if nb_page > 1 %}
    <nav class="text-center">
        <ul class="pagination">
            {# On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b #}
{#                <li {% if page == 1 %}class="disabled"{% endif %}>
                <a href="{{ path('glstock_inventory_entry', {'page': 1}) }}">&laquo;</a>
            </li>
            {% for p in range(1, nb_page) %}
                <li {% if p == page %} class="active" {% endif %}>
                    <a href="{{ path('glstock_inventory_entry', {'page': p}) }}">{{ p }}</a>
                </li>
            {% endfor %}
            <li {% if page == nb_page %}class="disabled"{% endif %}>
                <a href="{{ path('glstock_inventory_entry', {'page': nb_page}) }}">&raquo;</a>
            </li>
        </ul>
    </nav>
{% endif %}#}

<script type="text/javascript">
function realstockcalcul(id){
    var realstock = $('#{{ form.articles.vars.id }}_' + id + '_realstock').val().replace(',', '.');
    var quantity = $('#{{ form.articles.vars.id }}_' + id + '_quantity').val().replace(',', '.');
    var price     = $('#{{ form.articles.vars.id }}_' + id + '_price').val().replace(',', '.');
    var total = realstock*price;
    var gap = realstock-quantity;
    var lastloop = {{ lastloop }}-1;

    $('#{{ form.articles.vars.id }}_' + id + '_total').val(total.toFixed(3));
    $('#{{ form.articles.vars.id }}_' + id + '_gap').val(gap.toFixed(3));

    var totals = 0;
    for (var iter = 0; iter <= lastloop; iter++) {
        var total = $('#{{ form.articles.vars.id }}_' + iter + '_total').val().replace(',', '.');
        if(isNaN(total)) {
            total = 0;
        } else {
            total = $('#{{ form.articles.vars.id }}_' + iter + '_total').val().replace(',', '.');
        }
        totals = Number(totals) + Number(total);
    }
    $('#{{ form.amount.vars.id }}').val(totals.toFixed(3));
}

</script>
