{% extends "base.html.twig" %}

{% block title %}
    {{ 'gestock.settings.diverse.familylog'|trans }} - {{ parent() }}
{% endblock %}

{% block body_title %}
    <span class="glyphicon glyphicon-tag"></span>
    {{ 'gestock.settings.diverse.familylog'|trans }}
{% endblock %}

{% block glstock_body %}
    <table class="table table-hover table-bordered record_properties">
        <tbody>
            <tr>
                <th scope="row" class="col-md-4">{{ 'gestock.name'|trans }}</th>
                <td class="col-md-8">{{ familylog.name }}</td>
            </tr>
            {% if familylog.parent %}
            <tr>
                <th scope="row" class="col-md-4">{{ 'gestock.settings.diverse.parent_fam'|trans }}</th>
                <td class="col-md-8">
                    <a href="{{ path('familylog_show', {slug: familylog.parent.slug}) }}">{{ familylog.parent }}</a>
                </td>
            </tr>
            {% endif %}
            {% if familylog.children %}
            <tr>
                <th scope="row" class="col-md-4">{{ 'gestock.settings.diverse.child_fam'|trans }}</th>
                <td class="col-md-8">
                    <table class="table table-hovertable-bordered record_properties">
                    {% for child in familylog.children %}
                        <tr>
                            <td>
                                <a href="{{ path('familylog_show', {slug: child.slug}) }}">{{ child.name }}</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </table>
                </td>
            </tr>
            {% endif %}
        </tbody>
    </table>

    {{ form_start(delete_form) }}
        {{ form_widget(delete_form) }}

        <div class="btn-group record_actions">
            {% include 'homeButton.html.twig' %}
            <a class="btn btn-info btn-list" href="{{ path('familylog') }}">
                {{ 'gestock.return_list'|trans }}
            </a>

            <a class="btn btn-primary btn-edit" href="{{ path('familylog_edit', {slug: familylog.slug}) }}">
                {{ 'Edit'|trans({}, 'admin') }}
            </a>
            <button class="btn btn-danger btn-delete" type="submit">
                {{ 'Delete'|trans({}, 'admin') }}
            </button>

        </div>

        <input name="modal" type="hidden" value="0">
    {{ form_end(delete_form) }}

    {% include 'deleteForm.html.twig' %}
{% endblock %}
