{% extends "base.html.twig" %}

{% form_theme form 'Form/bootstrap_3_horizontal_layout.html.twig' %}

{% block title %}{{ '%entity% creation'|trans({'%entity%': 'menu.users'|trans}, 'admin') }} - {{ parent() }}{% endblock %}

{% block body_title %}
    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
    {{ '%entity% creation'|trans({'%entity%': 'menu.users'|trans}, 'admin') }}
{% endblock body_title %}

{% block glstock_body %}
    {% include 'App/Staff/User/form.html.twig' %}

    <div class="btn-group record_actions">
        {% include 'homeButton.html.twig' %}
        <a class="btn btn-info btn-list" href="{{ path('user') }}">
            {{ 'gestock.return_list'|trans }}
        </a>

    </div>
{% endblock glstock_body %}
