{% extends "base.html.twig" %}

{% block title %}
    {{ 'menu.users'|trans }} - {{ parent() }}
{% endblock %}

{% block body_title %}
    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
    {{ 'menu.users'|trans }}
{% endblock %}

{% block body %}
    <table class="table table-hover table-bordered record_properties">
        <tbody>
            <tr>
                <th scope="row">{{ 'gestock.id'|trans }}</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th scope="row">{{ 'gestock.name'|trans }}</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th scope="row">{{ 'Group'|trans({}, 'admin') }}</th>
                <td>{{ user.groups|join(', ') }}</td>
            </tr>
        </tbody>
    </table>

    {{ form_start(delete_form) }}
        {{ form_widget(delete_form) }}

        <div class="btn-group record_actions">
            {% include 'homeButton.html.twig' %}
            <a class="btn btn-info btn-list" href="{{ path('user') }}">
                {{ 'gestock.return_list'|trans }}
            </a>

            <a class="btn btn-primary btn-edit" href="{{ path('user_edit', {id: user.id}) }}">
                {{ 'Edit'|trans({}, 'admin') }}
            </a>
            <button class="btn btn-danger btn-delete" type="submit">
                {{ 'Delete'|trans({}, 'admin') }}
            </button>

        </div>

        <input name="modal" type="hidden" value="0">
    {{ form_end(delete_form) }}

    {% include 'deleteForm.html.twig' %}
{% endblock %}
