{% extends "base.html.twig" %}

{% block title %}
    {{ '%entity% list'|trans({'%entity%': 'title'|trans({}, 'gs_invoices')}, 'admin') }} - {{ parent() }}
{% endblock %}

{% block body_title %}
    <i class="fa fa-calculator" aria-hidden="true"></i>
    {{ '%entity% list'|trans({'%entity%': 'title_short'|trans({}, 'gs_invoices')}, 'admin') }}
{% endblock %}

{% block glstock_body %}
    <table class="table table-striped table-hover records_list">
        <thead>
            <tr>
                <th scope="col" class="col-md-1 text-center">{{ 'gestock.id'|trans }}</th>
                <th scope="col" class="col-md-2 text-center">{{ 'title'|trans({}, 'gs_suppliers') }}</th>
                <th scope="col" class="col-md-3 text-center">
                    <i class="fa fa-calendar"></i> {{ 'form.deliv_date'|trans({}, 'gs_orders') }}
                </th>
                <th scope="col" class="col-md-1 text-center">{{ 'gestock.amount'|trans }}</th>
                <th scope="col" class="col-md-1 text-center">{{ 'settings.vat'|trans({}, 'gs_orders') }}</th>
                <th scope="col" class="col-md-4 text-center">{{ 'Actions'|trans({}, 'admin') }}</th>
            </tr>
        </thead>
        <tbody>
            {% if paginator.items is empty %}
                <tr>
                    <td colspan="7" class="text-center">
                        <h2>{{ 'alerts.no_invoices'|trans({}, 'gs_invoices') }}</h2>
                    </td>
                </tr>
            {% else %}
            {% for orders in paginator %}
                <tr>
                    <td class="text-center"><a href="{{ path('invoices_show', {id: orders.id}) }}">{{ "%06d"|format(orders.id) }}</a></td>
                    <td><a href="{{ path('supplier_show', {slug: orders.supplier.slug}) }}">{{ orders.supplier }}</a></td>
                    <td class="text-center">
                        {% if orders.delivdate %}{{ orders.delivdate|localizeddate('full', 'none') }}{% endif %}
                    </td>
                    <td  class="text-right">{{ orders.amount|localizedcurrency('EUR') }}</td>
                    <td  class="text-right">{{ orders.tva|localizedcurrency('EUR') }}</td>
                    <td class="text-center">
                        <div class="btn-group">
                            <a class="btn btn-default btn-xs btn-show" href="{{ path('invoices_show', {id: orders.id}) }}">
                                {{ 'show'|trans({}, 'admin') }}
                            </a>
                                {% if is_granted('ROLE_ADMIN') and orders.status == 2 %}
                            <a class="btn btn-success btn-xs" href="{{ path('invoices_edit', {id: orders.id}) }}">
                                <i class="fa fa-check"></i> 
                                {{ 'gestock.validate'|trans }}
                            </a>
                            {% endif %}
                            <a class="btn btn-default btn-print btn-xs" href="{{ path('invoices_print', {id: orders.id}) }}">
                                {{ 'gestock.print'|trans }}
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
    
    {{ knp_pagination_render(paginator) }}
    
    <div class="btn-group">
        {% include 'homeButton.html.twig' %}
    </div>

{% endblock %}
