{% extends "base.html.twig" %}

{% block title %}
    {{ '%entity% list'|trans({'%entity%': 'gestock.settings.company.title'|trans}, 'admin') }} - {{ parent() }}
{% endblock %}

{% block body_title %}
    <span class="glyphicon glyphicon-tower" aria-hidden="true"></span> 
    {{ '%entity% list'|trans({'%entity%': 'gestock.settings.company.title'|trans}, 'admin') }}
{% endblock %}

{% block glstock_body %}
    <table class="table table-striped table-hover table-bordered records_list">
        <thead>
            <tr>
                <th scope="col">{{ 'gestock.name'|trans }}</th>
                <th scope="col">{{ 'gestock.settings.company.status'|trans }}</th>
                <th scope="col">{{ 'Actions'|trans({}, 'admin') }}</th>
            </tr>
        </thead>
        <tbody>
            {% for company in entities %}
                <tr>
                    <td><a href="{{ path('admin_company_show', {id: company.id}) }}">{{ company.name }}</a></td>
                    <td>{{ company.status }}</td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-default btn-sm" href="{{ path('admin_company_show', {id: company.id}) }}">
                                <i class="fa fa-file-o"></i> {{ 'show'|trans({}, 'admin') }}
                            </a>
                            <a class="btn btn-default btn-sm" href="{{ path('admin_company_edit', {id: company.id}) }}">
                                <i class="fa fa-edit"></i> {{ 'edit'|trans({}, 'admin') }}
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <div class="new_entry list-unstyled">
        {% include 'homeButton.html.twig' %}
        {% if ctEntity < 1 %}
            <a class="btn btn-info" href="{{ path('admin_company_new') }}">
                <i class="fa fa-plus"></i> {{ 'Create a new entry'|trans({}, 'admin') }}
            </a>
        {% endif %}
    </div>
    
{% endblock %}
