{% extends "base.html.twig" %}

{% block title %}
    {{ '%entity% list'|trans({'%entity%': 'gestock.settings.company.title'|trans}, 'admin') }} - {{ parent() }}
{% endblock %}

{% block body_title %}
    <span class="glyphicon glyphicon-tower" aria-hidden="true"></span>
    {{ '%entity% list'|trans({'%entity%': 'gestock.settings.company.title'|trans}, 'admin') }}
{% endblock %}

{% block glstock_body %}
    <table class="table table-striped table-hover table-bordered records_list">
        <thead>
            <tr>
                <th scope="col">{{ 'gestock.name'|trans }}</th>
                <th scope="col"><i class="fa fa-map-marker" aria-hidden="true"></i>{{ 'gestock.address'|trans }}</th>
                <th scope="col"><i class="fa fa-phone" aria-hidden="true"></i>{{ 'gestock.phone'|trans }}</th>
                <th scope="col"><i class="fa fa-mobile" aria-hidden="true"></i>{{ 'gestock.gsm'|trans }}</th>
                <th scope="col">{{ 'gestock.settings.company.status'|trans }}</th>
                <th scope="col" class="col-md-2 text-center">{{ 'Actions'|trans({}, 'admin') }}</th>
            </tr>
        </thead>
        <tbody>
            {% for company in entities %}
                <tr>
                    <td><a href="{{ path('company_show', {id: company.id}) }}">{{ company.name }}</a></td>
                    <td>{{ company.address }}<br />{{ company.zipcode }} {{ company.town }}</td>
                    <td>{{ company.phone|phone_number_format('NATIONAL') }}</td>
                    <td>{{ company.gsm|phone_number_format('NATIONAL') }}</td>
                    <td>{{ company.status }}</td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-default btn-show btn-xs" href="{{ path('company_show', {id: company.id}) }}">{{ 'show'|trans({}, 'admin') }}
                            </a>
                            <a class="btn btn-info btn-edit btn-xs" href="{{ path('company_edit', {id: company.id}) }}">
                                {{ 'edit'|trans({}, 'admin') }}
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <div class="btn-group">
        {% include 'homeButton.html.twig' %}
        {% if ctEntity < 1 %}
            <a class="btn btn-info btn-create" href="{{ path('company_new') }}">
                {{ 'Create a new entry'|trans({}, 'admin') }}
            </a>
        {% endif %}
    </div>
    
{% endblock %}
