{% extends "base.html.twig" %}

{% form_theme edit_form 'form/fields.html.twig' %}
{% set lastloop = 0 %}

{% block title %}
    {{ '%entity% edit'|trans({'%entity%': 'title'|trans({}, 'gs_invoices')}, 'admin') }} - {{ parent() }}
{% endblock %}

{% block body_js %}
    onload="calculTotaux();"
{% endblock %}

{% block body_title %}
    <i class="fa fa-calculator" aria-hidden="true"></i>
    {{ '%entity% edit'|trans({'%entity%': 'title_short'|trans({}, 'gs_invoices')}, 'admin') }}
{% endblock %}

{% block glstock_body %}
    {{ form_start(edit_form) }}
    <div class="panel panel-default">
        <header class="panel-heading">
            <div class="row">
                <div class="col-md-4 row">
                    <div class="col-md-4">{{ form_label(edit_form.supplier) }}</div>
                    <div class="col-md-8">
                        {{ form_widget(edit_form.supplier, { 'attr':{'class':'hidden'} }) }}
                        {{ edit_form.supplier.vars.data.name }}
                    </div>
                </div>
                <div class="col-md-4 row">
                    <div class="col-md-4">{{ form_label(edit_form.orderdate) }}</div>
                    <div class="col-md-8">{{ form_widget(edit_form.orderdate) }}</div>
                </div>
                <div class="col-md-4 row">
                    <div class="col-md-4">{{ form_label(edit_form.delivdate) }}</div>
                    <div class="col-md-8">{{ form_widget(edit_form.delivdate) }}</div>
                </div>
            </div>
        </header>
    
        <table class="table table-striped">
            <thead>
                {% for item in edit_form.articles %}
                    {% set loopindex = loop.index %}
                    {% if loopindex == 1 and loop.index == 1 %}
                        <tr>
                            <th class="col-md-1 text-center">{{ form_label(item.orders) }}</th>
                            <th class="col-md-3 text-center">{{ form_label(item.article) }}</th>
                            <th class="col-md-1 text-center">{{ form_label(item.quantity) }}</th>
                            <th class="col-md-1 text-center">{{ form_label(item.unitStorage) }}</th>
                            <th class="col-md-1 text-center">{{ form_label(item.price) }}</th>
                            <th class="col-md-1 text-center">{{ form_label(item.tva) }}</th>
                            <th class="col-md-1 text-center">{{ form_label(item.total) }}</th>
                        </tr>
                    </thead>
                <tbody>
                    {% endif %}
                    <tr>
                        <td class="text-center">
                            {{ form_widget(item.orders, { 'attr':{'class':'hidden'} }) }}
                            {{ "%06d"|format(item.article.vars.value) }}
                        </td>
                        <td>
                            {{ form_widget(item.article, { 'attr':{'class':'hidden'} }) }}
                            {{ item.article.vars.data.name }}
                        </td>
                        <td>{{ form_widget(item.quantity) }}</td>
                        <td class="text-center">
                            {{ form_widget(item.unitStorage, { 'attr':{'class':'hidden'} }) }}
                            {{ item.article.vars.data.unitStorage }}
                        </td>
                        <td>{{ form_widget(item.price, { 'attr':{'onChange':'ordersCalcul('~(loop.index-1)~')', 'tabindex':loop.index} }) }}</td>
                        <td>
                            <div class="input-group">
                                {{ form_widget(item.tva, { 'attr':{'class':'hidden'} } ) }}
                                <input type="text" value="{{ item.article.vars.data.tva.name }}" aria-describedby="percent-addon" readonly="readonly" class="form-control text-right readonly">
                                <span class="input-group-addon readonly" id="percent-addon">%</span>
                            </div>
                        </td>
                        <td>{{ form_widget(item.total) }}</td>
                    </tr>
                    {% set lastloop = loop.index %}
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="5">{{ 'seizure.totals'|trans({}, 'gs_orders') }}</th>
                    <td class="text-right text-bold">{{ form_widget(edit_form.tva) }}</td>
                    <td class="text-right text-bold">{{ form_widget(edit_form.amount) }}</td>
                </tr>
            </tfoot>
        </table>
        <footer class="panel-footer text-right">
            <button tabindex="{{ lastloop + 1 }}" class="btn btn-success" type="submit"><i class="fa fa-check"></i> {{ 'gestock.validate'|trans }}</button>
        </footer>
    </div>
    {{ form_end(edit_form) }}

    <div class="btn-group record_actions">

        {% include 'homeButton.html.twig' %}
        <a class="btn btn-info btn-list" href="{{ path('invoices') }}">
            {{ 'gestock.return_list'|trans }}
        </a>
        <a class="btn btn-default btn-print" href="{#{ path('invoices_print', {id: edit_form.vars.value.id}) }#}">
            {{ 'gestock.print'|trans }}
        </a>

    </div>

    <input name="modal" type="hidden" value="0">

    <script type="text/javascript">
        function ordersCalcul(id){
            var quantity = $('#{{ edit_form.articles.vars.id }}_' + id + '_quantity').val();
            var quantity = quantity.replace(',', '.');
            var price    = $('#{{ edit_form.articles.vars.id }}_' + id + '_price').val();
            var price    = price.replace(',', '.');

            var total = quantity*price;
            var lastloop = {{ lastloop }}-1;

            var total = total.toFixed(3);
            var total = total.replace('.', ',');
            $('#{{ edit_form.articles.vars.id }}_' + id + '_total').val(total);

            if(quantity !== '' || quantity !== 0.000) {
                var quantity = quantity.replace('.', ',');
                $('#{{ edit_form.articles.vars.id }}_' + id + '_quantity').val(quantity);
            }

            
            var totals = 0;
            for (var iter = 0; iter <= lastloop; iter++) {
                var total = $('#{{ edit_form.articles.vars.id }}_' + iter + '_total').val();
                var total = total.replace(',', '.');
                if(isNaN(total)) {
                    total = 0;
                } else {
                    total = $('#{{ edit_form.articles.vars.id }}_' + iter + '_total').val();
                    var total = total.replace(',', '.');
                }
                totals = Number(totals) + Number(total);
            }
            var totals = totals.toFixed(3);
            var totals = totals.replace('.', ',');
            $('#{{ edit_form.amount.vars.id }}').val(totals);

            var ordersTvas = 0;
            var ordersTva = 0;
            for (var iter = 0; iter <= lastloop; iter++) {
                var total = $('#{{ edit_form.articles.vars.id }}_' + iter + '_total').val();
                var total = total.replace(',', '.');
                var tva = $('#{{ edit_form.articles.vars.id }}_' + iter + '_tva').val();
                var tva = tva.replace(',', '.');
                if(isNaN(total)) {
                    total = 0;
                } else {
                    ordersTva = total * tva;
                }
                ordersTvas = Number(ordersTvas) + Number(ordersTva);
            }
            var ordersTvas = ordersTvas.toFixed(3);
            var ordersTvas = ordersTvas.replace('.', ',');
            $('#{{ edit_form.tva.vars.id }}').val(ordersTvas);
        }
         
        function calculTotaux()
        {
            var lastloop = {{ lastloop }}-1;

            for (var iter = 0; iter <= lastloop; iter++) {
                ordersCalcul(iter);
            }
            selectOnFocus(0);
        }
        
        function selectOnFocus(id)
        {
            $('#{{ edit_form.articles.vars.id }}_' + id + '_price').select();
        }
    </script>
{% endblock %}
