{% extends "base.html.twig" %}

{% block title %}
    {{ 'gestock.settings.application.title'|trans }} - {{ parent() }}
{% endblock %}

{% block body_title %}
    <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> 
    {{ 'gestock.settings.application.title'|trans }}
{% endblock %}

{% block glstock_body %}
    <table class="table table-hover record_properties">
        <tbody>
            <tr>
                <th scope="row">{{ 'gestock.settings.application.style_inventory'|trans }}</th>
                <td>{{ settings.inventoryStyle }}</td>
            </tr>
            <tr>
                <th scope="row">{{ 'gestock.settings.application.calculation'|trans }}</th>
                <td>{{ settings.calculation }}</td>
            </tr>
            <tr>
                <th scope="row">{{ 'gestock.settings.application.first_inventory.title'|trans }}</th>
                <td>{{ settings.firstInventory is empty ? "" : settings.firstInventory|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th scope="row">{{ 'gestock.settings.application.currency'|trans }}</th>
                <td>{{ settings.currency }}</td>
            </tr>
        </tbody>
    </table>

    {{ form_start(delete_form) }}
        {{ form_widget(delete_form) }}

        <div class="btn-group record_actions">
            {% include 'homeButton.html.twig' %}
            <a class="btn btn-info" href="{{ path('admin_application') }}">
                <i class="fa fa-list"></i> {{ 'gestock.return_list'|trans }}
            </a>

            <a class="btn btn-primary" href="{{ path('admin_application_edit', {id: settings.id}) }}">
                <i class="fa fa-edit"></i> {{ 'Edit'|trans({}, 'admin') }}
            </a>
            <button class="btn btn-danger" type="submit"><i class="fa fa-trash-o"></i> {{ 'Delete'|trans({}, 'admin') }}</button>

        </div>

        <input name="modal" type="hidden" value="0">
    {{ form_end(delete_form) }}

    {% include 'deleteForm.html.twig' %}
{% endblock %}
