{# src/Glsr/GestockBundle/Resources/views/Gestock/index.html.twig #}

{% extends "GlsrGestockBundle::layout.html.twig" %}

{% block title %}
    Accueil - {{ parent() }}
{% endblock %}

{% block glstock_body %}
    <h2>Bienvenue sur la page d'accueil Gestock</h2>
    <section class="col-md-3">
        <div class="panel panel-default">
            <header class="panel-heading"><a href="{{ path('glstock_settings') }}">Configuration</a></header>
            <div class="panel-body">
                <ul>
                    <li><a href="{{ path('glstock_settings') }}#application">
                            <i class="glyphicon glyphicon-tower"></i>
                            Application</a></li>
                    <li><a href="{{ path('glstock_settings') }}#company">
                            <i class="glyphicon glyphicon-cog"></i>
                            Company</a></li>
                    <li><a href="{{ path('glstock_settings') }}#divers">
                            <i class="glyphicon glyphicon-cog"></i>
                            Divers</a></li>
                </ul>
            </div>
        </div>
        
        {{ render(controller("GlsrGestockBundle:Gestock:alerts", {'nombre': 3})) }}
        
    </section>
    <div class="col-md-1"></div>
    <section class="col-md-4 well">
        <div class="panel panel-default">
            <header class="panel-heading">Article</header>
            <section class="panel-body">
                <ul>
                    <li><a href="{{ path('glstock_art_list') }}">
                            <i class="glyphicon glyphicon-list-alt"></i>
                            Article list</a></li>
                    {% if is_granted('ROLE_ADMIN') %}
                    <li><a href="{{ path('glstock_art_add') }}">
                            <i class="glyphicon glyphicon-edit"></i>
                            Article add</a></li>
                    {% endif %}
                </ul>
            </section>
        </div>
        <div class="panel panel-default">
            <header class="panel-heading">Fournisseur</header>
            <section class="panel-body">
                <ul>
                    <li><a href="{{ path('glstock_suppli_list') }}">
                            <i class="glyphicon glyphicon-list-alt"></i>
                            Supplier list</a></li>
                    {% if is_granted('ROLE_ADMIN') %}
                    <li><a href="{{ path('glstock_suppli_add') }}">
                            <i class="glyphicon glyphicon-edit"></i>
                            Supplier add</a></li>
                    {% endif %}
                </ul>
            </section>
        </div>
    </section>
    <div class="col-md-1"></div>
    <section class="col-md-3 well panel panel-default">
        <header class="panel-heading">Gestion</header>
        <ul class="panel-body">
            <li><a href="">
                    <i class="glyphicon glyphicon-tasks"></i>
                    Inventaires
                </a></li>
            <li><a href="">
                    <i class="glyphicon glyphicon-shopping-cart"></i>
                    Suivi des Commandes
                </a></li>
            <li><a href="">
                    <i class="glyphicon glyphicon-road"></i>
                    Suivi des Livraisons
                </a></li>
        </ul>
    </section>
    
{% endblock %}