{# src/Glsr/GestockBundle/Resources/views/Gestock/index.html.twig #}

{% extends "GlsrGestockBundle::layout.html.twig" %}

{% block title %}
    {{ 'glsr.gestock.home.title'|trans }} - {{ parent() }}
{% endblock %}

{% block body_title %}
    {{ 'glsr.gestock.home.body_title'|trans }}
{% endblock %}

{% block glstock_body %}
    <section class="col-lg-3">
        <div class="panel panel-default">
            <header class="panel-heading">Configuration</header>
            <ul class="list-unstyled list-group">
                <li class="list-group-item">
                    <a href="{{ path('glstock_company') }}">
                        <i class="glyphicon glyphicon-tower"></i>
                        {{ 'glsr.gestock.settings.company.title'|trans }}
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="{{ path('glstock_application') }}">
                        <i class="glyphicon glyphicon-wrench"></i>
                        {{ 'glsr.gestock.settings.application.title'|trans }}
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="{{ path('glstock_divers') }}">
                        <i class="glyphicon glyphicon-info-sign"></i>
                        {{ 'glsr.gestock.settings.diverse.title'|trans }}
                    </a>
                </li>
            </ul>
        </div>
        
        {{ render(controller("GlsrGestockBundle:Gestock:alerts", {'nombre': 3})) }}
        
    </section>
    <section class="col-lg-4 col-lg-offset-1">
        <div class="panel panel-default">
            <header class="panel-heading">{{ 'glsr.gestock.article.title'|trans }}</header>
            <ul class="list-unstyled list-group">
                <li class="list-group-item"><a href="{{ path('glstock_art_list') }}">
                        <i class="glyphicon glyphicon-list-alt"></i>
                        {{ 'glsr.gestock.article.list'|trans }}</a></li>
                {% if is_granted('ROLE_ADMIN') %}
                <li class="list-group-item"><a href="{{ path('glstock_art_add') }}">
                    <i class="glyphicon glyphicon-plus"></i>
                    {{ 'glsr.gestock.article.create.title'|trans }}</a></li>
                {% endif %}
            </ul>
        </div>
        <div class="panel panel-default">
            <header class="panel-heading">{{ 'glsr.gestock.supplier.title'|trans }}</header>
            <ul class="list-unstyled list-group">
                <li class="list-group-item"><a href="{{ path('glstock_suppli_list') }}">
                        <i class="glyphicon glyphicon-list-alt"></i>
                        {{ 'glsr.gestock.supplier.list'|trans }}</a></li>
                {% if is_granted('ROLE_ADMIN') %}
                        <li class="list-group-item"><a href="{{ path('glstock_suppli_add') }}">
                    <i class="glyphicon glyphicon-plus"></i>
                    {{ 'glsr.gestock.supplier.create.title'|trans }}</a></li>
                {% endif %}
            </ul>
        </div>
    </section>
    <section class="col-lg-3 col-lg-offset-1">
        <div class="panel panel-default">
            <header class="panel-heading">{{ 'glsr.gestock.administration'|trans }}</header>
            <ul class="list-unstyled list-group">
                <li class="list-group-item">
                    <a href="{{ path('glstock_inventory') }}">
                        <i class="glyphicon glyphicon-tasks"></i>
                        {{ 'glsr.gestock.inventory.title'|trans }}
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="">
                        <i class="glyphicon glyphicon-shopping-cart"></i>
                        {{ 'glsr.gestock.orders.title'|trans }}
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="">
                        <i class="glyphicon glyphicon-road"></i>
                        {{ 'glsr.gestock.delivery.title'|trans }}
                    </a>
                </li>
            </ul>
        </div>
    </section>
    
{% endblock %}