{% form_theme form 'AppBundle:Form:bootstrap_3_horizontal_layout.html.twig' %}

{{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.parent) }}
    <div class="form-group">
        <div class="col-sm-8 col-sm-offset-3">
            <div class="btn-group record_actions">
                {{ form_widget(form.save) }} {{ form_widget(form.addmore) }}
            </div>
        </div>
    </div>
{{ form_end(form) }}
