{% extends "base.html.twig" %}

{% form_theme form 'AppBundle:Form:bootstrap_3_horizontal_layout.html.twig' %}

{% block title %}
    {{ '%entity% creation'|trans({'%entity%': 'menu.material'|trans({}, 'messages')}, 'admin') }} - {{ parent() }}
{% endblock %}

{% block body_title %}
    <i class="fa fa-pie-chart" aria-hidden="true"></i>
    {{ '%entity% creation'|trans({'%entity%': 'menu.material'|trans({}, 'messages')}, 'admin') }}
{% endblock %}

{% block glstock_body %}
    {{ form_start(form, {action: path('material_create')}) }}
        {{ form_row(form.name) }}

        <div class="form-group">
            <span class="text-danger">{{ form_errors(form.articles) }}</span>
            {{ form_label(form.articles) }}
            {%- block choice_widget_expanded -%}
            <div class="col-sm-8">
                <ul {% if block('widget_container_attributes') is defined %}{{ block('widget_container_attributes') }}{% endif %} class="height150 form-control half panel panel-default panel-body list-unstyled">
                    {%- for child in form.articles -%}
                        {% set lastloop = loop.index %}
                        {% for article in articles %}
                            {% if child.vars.value == article.id %}
                                <li class="row">
                                    <div class="col-sm-7">{{- form_widget(child, { 'attr':{'onClick':'isMultiple('~lastloop~')'} }) -}}</div>
                                    <div class="col-sm-5 checkbox">
                                        <input type="hidden" id="material_articles_unit_{{ lastloop }}" value="{{ article.unitStorage.id }}">
                                        {{ article.unitStorage.name }}
                                    </div>
                                </li>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
            {%- endblock choice_widget_expanded -%}
            {{ form_widget(form.articles) }}
        </div>

        {{ form_row(form.multiple) }}
        {{ form_row(form.unitStorage) }}
        {{ form_row(form.active) }}

        <div class="form-group">
            <div class="col-sm-8 col-sm-offset-3">
                <div class="btn-group record_actions">
                    {{ form_widget(form.save) }} {{ form_widget(form.addmore) }}
                </div>
            </div>
        </div>
    {{ form_end(form) }}

    <div class="btn-group record_actions">
        {% include 'homeButton.html.twig' %}
        <a class="btn btn-info btn-list" href="{{ path('material') }}">
            {{ 'gestock.return_list'|trans }}
        </a>
    </div>

    <script type="text/javascript">
        function isMultiple(id){
            var multiple = 0;
            var articlesCount = {{ form.articles|length }} + 1;

            var unit = $('#material_articles_unit_' + id).val();
            $('#{{ form.unitStorage.vars.id }}').val(unit);

            for (var iter = 1; iter <= articlesCount; iter++) {
                if ($('#{{ form.articles.vars.id }}_' + iter).is(':checked')) {
                    multiple++;
                }
            }

            if (multiple > 1) {
                $('#{{ form.multiple.vars.id }}').prop('checked', true);
            } else {
                $('#{{ form.multiple.vars.id }}').prop('checked', false);
            }
        }
    </script>
{% endblock %}
