<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{{ 'title_page'|trans }}{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets filter='cssrewrite, ?yui_css' 
                'bundles/app/css/*' %}
                <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body{% block body_js %}{% endblock %}>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('_home') }}">
                        <span class="icon-GLSR"></span>
                        {#{ 'title'|trans }#} <small>{{ 'subtitle'|trans }}</small>
                    </a>
                </div><!-- /.navbar-header -->
                <div id="navbar" class="navbar-collapse collapse">
                    {{ knp_menu_render('AppBundle:MenuBuilder:buildMainMenu', {'currentClass': 'active', 'template': 'Menu/knp_menu.html.twig'}) }}
                    {{ knp_menu_render('AppBundle:MenuBuilder:buildUserMenu', {'currentClass': 'active', 'template': 'Menu/knp_menu.html.twig'}) }}
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container -->
        </nav>

{#        {% block navbar %}{% endblock %}#}
        <div class="container">
            <div class="row">
                <section id="content" class="col-md-12">
                    {% block body %}
                        <h2>{% block body_title %}{% endblock body_title %}</h2>
                        <hr />
                        {% if app.request.hasPreviousSession %}
                            {% for type, messages in app.session.flashbag.all() %}
                                {% for message in messages %}
                                    <div class="alert alert-{{ type }}">
                                        {{ message|trans|nl2br }}
                                    </div>
                                {% endfor %}
                            {% endfor %}
                        {% endif %}

                        {% block glstock_body %}{% endblock glstock_body %}
                    {% endblock %}
                </section>
            </div>
        </div>
        <footer class="footer">
            <div class="container">
                <hr />
                <p class="text-muted">{{ 'copy'|trans|raw }}</p>
            </div>
        </footer>
        {% block javascripts %}
            {# Tous nos javascripts avec Assetic #}
            {% javascripts 'bundles/app/js/jquery-1.11.1.js' 'bundles/app/js/*' filter='?yui_js' %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
            {% block js_function %}{% endblock %}
        {% endblock %}
    </body>
</html>
