{% extends "base.html.twig" %}

{% block title %}
    {{ '%entity% edit'|trans({'%entity%': 'title'|trans({}, 'gs_articles')}, 'admin') }} - {{ parent() }}
{% endblock %}

{% block body_title %}
    <i class="fa fa-shopping-basket" aria-hidden="true"></i>
    {{ '%entity% edit'|trans({'%entity%': 'title'|trans({}, 'gs_articles')}, 'admin') }}
{% endblock %}

{% block glstock_body %}

    {% include 'AppBundle:Settings/Article:form.html.twig' %}

    {% if is_granted("ROLE_SUPER_ADMIN") %}
        {{ form_start(delete_form) }}
        {{ form_widget(delete_form) }}
    {% endif %}

        <div class="btn-group record_actions">
            {% include 'homeButton.html.twig' %}
            <a class="btn btn-info btn-list" href="{{ path('article') }}">
                {{ 'gestock.return_list'|trans }}
            </a>

            {% if is_granted("ROLE_SUPER_ADMIN") %}
                <button class="btn btn-danger btn-delete" type="submit">
                    {{ 'Delete'|trans({}, 'admin') }}
                </button>
            {% endif %}

        </div>

        <input name="modal" type="hidden" value="0">
    {{ form_end(delete_form) }}

    {% include 'deleteForm.html.twig' %}
{% endblock %}
