{# src\Glsr\GestockBundle\Resources\views\Gestock\Article\add.html.twig #}

{% extends "GlsrGestockBundle::layout.html.twig" %}

{% block title %}
    {{ 'glsr.gestock.article.create.title'|trans }} - {{ parent() }}
{% endblock %}

{% block body_title %}
    <h2>
        <i class="glyphicon glyphicon-edit"></i> 
        {{ 'glsr.gestock.article.create.title'|trans }}
    </h2>
{% endblock %}

{% block glstock_body %}

    {% include 'GlsrGestockBundle:Gestock/Article:form.html.twig' %}

    <p class="alert alert-warning">{{ 'glsr.gestock.article.create.caution'|trans|nl2br }}</p>

    <p>
        <a href="{{ path('glstock_home') }}" class="btn btn-default" role="button">
            <i class="glyphicon glyphicon-chevron-left"></i>
            {{ "glsr.gestock.home.return"|trans }}
        </a>
    </p>
{% endblock %}
