{% for article in articles %}
    <tr>
        <td>
            <a href="{{ path('glstock_art_show', {'slug': article.slug}) }}">
                {{ article.name }}
            </a>
        </td>
        <td>
            <a href="{{ path('glstock_suppli_show', {'slug': article.supplier.slug}) }}">
                {{ article.supplier }}
            </a>
        </td>
        <td>{{ article.unitstorage }}</td>
        <td>{{ article.packaging }}</td>
        <td>{{ article.price }} €</td>
        <td>{{ article.quantity }}</td>
        <td>{{ article.minstock }}</td>
        <td>{{ article.familyLog }}</td>
        <td>{{ article.subFamilyLog }}</td>
        <td>
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('glstock_art_edit', {'slug': article.slug}) }}" class="btn btn-default" title="{{ 'glsr.gestock.article.edit.title_button'|trans }}" role="button">
                    <i class="glyphicon glyphicon-pencil"></i>
                </a>&nbsp;
                <a href="{{ path('glstock_art_del', {'id': article.id}) }}" class="btn btn-default" title="{{ 'glsr.gestock.article.delete.title_button'|trans }}" role="button">
                    <i class="glyphicon glyphicon-trash"></i>
                </a>
            {% endif %}
        </td>
    </tr>
{% else %}
    <tr>
        <td colspan="12">{{ 'glsr.gestock.article.none'|trans }}</td>
    </tr>
{% endfor %}
