{% extends "GlsrGestockBundle::layout.html.twig" %}

{% block title %}
    Article - {{ parent() }}
{% endblock %}

{% block body_title %}
    {{ article.name }}
{% endblock %}

{% block glstock_body %}
    <fieldset><legend>{{ 'glsr.gestock.article.settings.information'|trans }}</legend>
        <section class="row col-md-12">
            <div class="col-md-6 form-group">
                <span class="label label-default">
                    {{ 'glsr.gestock.title_item'|trans }}
                </span>&nbsp;
                {{ article.name }}
            </div>
            <div class="col-md-6 form-group">
                <span class="label label-default">
                    {{ 'glsr.gestock.supplier.title'|trans }}
                </span>&nbsp;
                {{ article.supplier }}
            </div>
        </section>
        <section class="row col-md-12">
            <div class="col-md-12 form-group">
                <span class="label label-default">
                    {{ 'glsr.gestock.settings.diverse.zonestorage'|trans }}
                </span>&nbsp;
                {% set b = 0 %}
                {% for zone in article.zonestorages %}
                    {% if b > 0 %}
                        , {{ zone.name }}
                    {% else %}
                        {{ zone.name }}
                    {% endif %}
                    {% set b = b + 1 %}
                {% endfor %}
            </div>
            <div class="col-md-6 form-group">
                <span class="label label-default">
                    {{ 'glsr.gestock.settings.diverse.familylog'|trans }}
                </span>&nbsp;
                {{ article.familyLog }}
            </div>
            <div class="col-md-6 form-group">
                <span class="label label-default">
                    {{ 'glsr.gestock.settings.diverse.subfamilylog'|trans }}
                </span>&nbsp;
                {{ article.subFamilyLog }}
            </div>
        </section>
    </fieldset>
    <fieldset><legend>{{ 'glsr.gestock.article.settings.feature'|trans }}</legend>
         <section class="row col-md-12">
            <div class="col-md-4 form-group">
                <span class="label label-default">
                    {{ 'glsr.gestock.article.settings.quantity'|trans }}
                </span>&nbsp;
                {{ article.quantity }}
            </div>
            <div class="col-md-4 form-group">
                <span class="label label-default">
                    {{ 'glsr.gestock.settings.diverse.unitstorage'|trans }}
                </span>&nbsp;
                {{ article.unitStorage }}
            </div>
            <div class="col-md-4 input-group form-group">
                <span class="label label-default">
                    {{ 'glsr.gestock.article.settings.price'|trans }}
                </span>&nbsp;
                {{ article.price }}
            </div>
        </section>
    </fieldset>
    <hr />
    <section class="col-md-12">
        {% if is_granted('ROLE_ADMIN') %}
        <p>
            <a href="{{ path('glstock_art_edit', {'name': article.name}) }}" class="btn btn-success" role="button">
                <i class="glyphicon glyphicon-pencil"></i>
                {{ 'glsr.gestock.article.edit.title_button'|trans }}</span>
            </a>&nbsp;
            <a href="{{ path('glstock_art_del', {'id': article.id}) }}" class="btn btn-danger" role="button">
                <i class="glyphicon glyphicon-trash"></i>
                {{ 'glsr.gestock.article.delete.title_button'|trans }}</span>
            </a>
        </p>
        {% endif %}
        <p>
            <a href="{{ path('glstock_art_list') }}" class="btn btn-default" role="button">
                <i class="glyphicon glyphicon-chevron-left"></i>
                {{ 'glsr.gestock.return_list'|trans }}</span>
            </a>&nbsp;
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('glstock_art_add') }}" class="btn btn-default" role="button">
                <i class="glyphicon glyphicon-plus"></i>
                {{ 'glsr.gestock.article.create.title_button'|trans }}</span>
        {% endif %}
            </a>
        </p>
    </section>
{% endblock %}
