{# src\Glsr\GestockBundle\Resources\views\Gestock\Article\delete.html.twig #}

{% extends "GlsrGestockBundle::layout.html.twig" %}

{% block title %}
    {{ 'glsr.gestock.article.delete.title'|trans }} - {{ parent() }}
{% endblock %}
    
{% block glstock_body %}
    
    <h2>{{ 'glsr.gestock.article.delete.title'|trans }}</h2>
    
    <p>{{ 'glsr.gestock.article.delete.caution'|trans({'%article.name%': article.name}) }}</p>
    
    {# On met l'id de l'article dans la route de l'action du formulaire #}
    <form action="{{ path('glstock_art_del', {'id': article.id}) }}" method="post">
        <a href="{{ path('glstock_art_show', {'name': article.name}) }}" class="btn btn-default" role="button">
            <i class="glyphicon glyphicon-chevron-left"></i>
            {{ 'glsr.gestock.article.return'|trans }}
        </a>
        <input type="submit" value="{{ 'glsr.gestock.article.delete.submit_button'|trans }}" class="btn btn-default btn-danger" />
        {{ form_rest(form) }}
    </form>
    
{% endblock %}
