{# src\Glsr\GestockBundle\Resources\views\Gestock\Article\form.html.twig #}

{# Cette vue n'hérite de personne, elle sera inclue par d'autres vues qui, elles, hériteront sûrement du layout. #}
{# Je dis "sûrement" car, ici pour cette vue, on n'en sait rien et c'est une info qui ne nous concerne pas. #}

{% block body_title %}
    {{ 'glsr.gestock.article.form.title'|trans }}
{% endblock %}

<div class="well">
    {{ form_start(form, { 'attr' : { 'class':'form-horizontal' } }) }}
        {{ form_errors(form) }}
        <fieldset><legend>{{ 'glsr.gestock.article.settings.information'|trans }}</legend>
            <section class="row col-md-12">
                <div class="col-md-5 form-group">
                    {{ form_label(form.name) }}
                    <span class="text-danger">{{ form_errors(form.name) }}</span>
                    {{ form_widget(form.name) }}
                </div>
                <div class="col-md-5 form-group">
                    {{ form_label(form.supplier) }}
                    <span class="text-danger">{{ form_errors(form.supplier) }}</span>
                    {{ form_widget(form.supplier) }}
                </div>
                {{ form_row(form.active) }}
            </section>
            <section class="row col-md-12">
                <div class="col-md-6 form-group">
                    {{ form_label(form.zone_storages) }}
                    <span class="text-danger">{{ form_errors(form.zone_storages) }}</span>
                    {% block choice_widget_expanded %}
                        {% spaceless %}
                        <div {{ block('widget_container_attributes') }}>
                            <table class="panel panel-default">
                                <tbody class="panel-body">
                                    {% for child in form.zone_storages %}
                                        <tr>
                                            <td class="col-md-1 text-center">{{ form_widget(child) }}</td>
                                            <td class="col-md-2">{{ form_label(child) }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        {% endspaceless %}
                    {% endblock choice_widget_expanded %}
                    {{ form_widget(form.zone_storages) }}
                </div>
                <div class="col-md-6"><br />
                    <div class="col-md-12 form-group">
                        {{ form_label(form.family_log) }}
                        <span class="text-danger">{{ form_errors(form.family_log) }}</span>
                        &nbsp;{{ form_widget(form.family_log) }}
                        <input id="hidden_flog" name="glsr_gestockbundle_article[family_log]" type="hidden" value="" />
                    </div>
                    <div class="col-md-12 form-group">
                        {{ form_label(form.sub_family_log) }}
                        <span class="text-danger">{{ form_errors(form.sub_family_log) }}</span>
                        &nbsp;{{ form_widget(form.sub_family_log) }}
                        <input id="hidden_sflog" name="glsr_gestockbundle_article[sub_family_log]" type="hidden" value="" />
                    </div>
                </div>
            </section>
        </fieldset>
        <fieldset><legend>{{ 'glsr.gestock.article.settings.feature'|trans }}</legend>
             <section class="row col-md-12">
                <div class="hidden">
                    {{ form_label(form.quantity) }}
                    <span class="text-danger">{{ form_errors(form.quantity) }}</span>
                    &nbsp;{{ form_widget(form.quantity) }}
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-5 form-group">
                    {{ form_label(form.unit_storage) }}
                    <span class="text-danger">{{ form_errors(form.unit_storage) }}</span>
                    &nbsp;{{ form_widget(form.unit_storage) }}
                </div>
                <div class="col-md-6 form-group">
                    {{ form_label(form.price) }}
                    <span class="text-danger">{{ form_errors(form.price) }}</span>
                    &nbsp;{{ form_widget(form.price) }}
                </div>
            </section>
            <section class="row col-md-12">
                <div class="col-md-1"></div>
                <div class="col-md-5 form-group">
                    {{ form_label(form.packaging) }}
                    <span class="text-danger">{{ form_errors(form.packaging) }}</span>
                    &nbsp;{{ form_widget(form.packaging) }}
                </div>
                <div class="col-md-6 form-group">
                    {{ form_label(form.minstock) }}
                    <span class="text-danger">{{ form_errors(form.minstock) }}</span>
                    &nbsp;{{ form_widget(form.minstock) }}
                </div>
            </section>
        </fieldset>
        <section>
            {{ form_widget(form.save) }}&nbsp;{{ form_widget(form.addmore) }}
        </section>
    {{ form_end(form) }}
</div>
<script type="text/javascript">
    function getSubFamily(){
        var id_select2 = $('#glsr_gestockbundle_article_sub_family_log').val();
        $('#hidden_sflog').val( id_select2 );
    }

    function fillSubFamilyLog(){
        var id_select = $('#glsr_gestockbundle_article_family_log').val();
        var id_select2 = $('#glsr_gestockbundle_article_sub_family_log').val();
        $.ajax({
            url: "{{ path('fill_subfamilylog') }}",
            type: 'POST',
            data: {'id': id_select, 'id2': id_select2},
            dataType: 'json',
            // quand la réponse de la requete arrive
            success: function(json){
                // tu vides le select2
                $('#glsr_gestockbundle_article_sub_family_log').empty();
                // et tu boucles sur la réponse contenu dans la variable passé à la function du success "json"
                $.each(json, function(index, value) {
                    if (value.optionOption){
                        $('#glsr_gestockbundle_article_sub_family_log').append('<option value="'+ value.idOption +'" '+ value.optionOption +'>'+ value.nameOption +'</option>');
                        $('#hidden_sflog').val( value.idOption );
                    } else {
                        $('#glsr_gestockbundle_article_sub_family_log').append('<option value="'+ value.idOption +'">'+ value.nameOption +'</option>');
                    }
                });
            }
        });
    }

    function getFamilyLog(){
        var id_select = $('#glsr_gestockbundle_article_supplier').val();
        $.ajax({
            url: "{{ path('getfamilylog') }}",
            type: 'POST',
            data: {'id': id_select},
            dataType: 'json',
            success: function(json){
                $('#glsr_gestockbundle_article_family_log option:selected').removeAttr('selected');
                $('#glsr_gestockbundle_article_family_log option[value="' + json.familylog + '"').attr('selected', 'selected');
                $('#glsr_gestockbundle_article_family_log').prop('disabled', true);
                $('#hidden_flog').val( json.familylog );
                if (json.subfamilylog){
                    if ($('#glsr_gestockbundle_article_sub_family_log option[value="' + json.subfamilylog + '"').length){
                        $('#glsr_gestockbundle_article_sub_family_log option:selected').removeAttr('selected');
                        $('#glsr_gestockbundle_article_sub_family_log option[value="' + json.subfamilylog + '"').attr('selected', 'selected');
                        $('#glsr_gestockbundle_article_sub_family_log').prop('disabled', true);
                        $('#hidden_sflog').val( json.subfamilylog );
                    } else {
                        fillSubFamilyLog();
                        getFamilyLog();
                    }
                } else {
                    $('#glsr_gestockbundle_article_sub_family_log').prop('disabled', false);
                    fillSubFamilyLog();
                }
            }
        });
    }

</script>
