{# src\Glsr\GestockBundle\Resources\views\Gestock\Article\index.html.twig #}

{% extends "GlsrGestockBundle::layout.html.twig" %}

{% block title %}
    Article - {{ parent() }}
{% endblock %}

{% block glstock_body %}

    <h2>
        {% if articles is defined %}
        <i class="glyphicon glyphicon-list-alt"></i> {{ 'glsr.gestock.article.list'|trans }}
        {% elseif article is defined %}
        <i class="glyphicon glyphicon-eye-open"></i> Article : {{ article.name }}
        {% endif %}
    </h2>

    <table class="table-striped table-bordered">
        <thead>
            <tr>
                <th width="15%">name</th>
                <th width="15%">supplier</th>
                <th width="5%">{#unitstorage#}unité</th>
                <th width="5%">{#unitbill#}unité facture</th>
                <th width="10%">price</th>
                <th width="5%">quantity</th>
                <th width="8%">{#minstock#}mini</th>
                <th width="12%">{#zonestorages#}zone stockage</th>
                <th width="10%">{#FamilyLog#}famille logistique</th>
                <th width="5%">{#SubFamilyLog#}sous famille</th>
                <th width="8%">Action</th>
            </tr>
        </thead>
        <tbody>
            {% if articles is defined %}
                {% include 'GlsrGestockBundle:Gestock/Article:articles.html.twig' %}
            {% endif %}
        </tbody>
    </table>
    
    <p>
        {% if article is defined %}
            <a href="{{ path('glstock_art_list') }}" class="btn btn-default" role="button">
                <i class="glyphicon glyphicon-chevron-left"></i>
                {{ 'glsr.gestock.return_list'|trans }}
            </a>&nbsp;
        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('glstock_art_add') }}" class="btn btn-default" role="button">
                <i class="glyphicon glyphicon-plus"></i>
                {{ 'glsr.gestock.article.create.title_button'|trans }}
            </a>
        {% endif %}
    </p>

    {# S'il y a plus d'une page, on affiche la liste des pages #}
    {% if articles is defined %}
        {% if nb_page > 1 %}
            <div class="pagination">
                <ul>
                    {# On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b #}
                    {% for p in range(1, nb_page) %}
                        <li {% if p == page %} class="active" {% endif %}>
                            <a href="{{ path('glstock_home', {'page': p}) }}">{{ p }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endif %}

{% endblock %}
