{# src\Glsr\GestockBundle\Resources\views\Gestock\Article\index.html.twig #}

{% extends "GlsrGestockBundle::layout.html.twig" %}

{% block title %}
    Article - {{ parent() }}
{% endblock %}

{% block body_title %}
    {% if articles is defined %}
    <i class="glyphicon glyphicon-list-alt"></i> {{ 'glsr.gestock.article.list'|trans }}
    {% elseif article is defined %}
    <i class="glyphicon glyphicon-eye-open"></i> {{ 'glsr.gestock.article.title'|trans }} : {{ article.name }}
    {% endif %}
{% endblock %}

{% block glstock_body %}

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th width="17%">{{ 'glsr.gestock.title_item'|trans }}</th>
                <th width="17%">{{ 'glsr.gestock.supplier.title'|trans }}</th>
                <th width="5%">{{ 'glsr.gestock.settings.diverse.unitstorage'|trans }}</th>
                <th width="5%">{{ 'glsr.gestock.article.settings.packaging'|trans }}</th>
                <th width="10%">{{ 'glsr.gestock.article.settings.price'|trans }}</th>
                <th width="8%">{{ 'glsr.gestock.article.settings.quantity'|trans }}</th>
                <th width="6%">{{ 'glsr.gestock.article.settings.stock_alert'|trans }}</th>
                <th width="10%">{{ 'glsr.gestock.settings.diverse.familylog'|trans }}</th>
                <th width="10%">{{ 'glsr.gestock.settings.diverse.subfamilylog'|trans }}</th>
                <th width="10%">{{ 'glsr.gestock.action'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% if articles is defined %}
                {% include 'GlsrGestockBundle:Gestock/Article:articles.html.twig' %}
            {% endif %}
        </tbody>
    </table>

    <p>
        <a href="{{ path('glstock_home') }}" class="btn btn-default" role="button">
             <i class="glyphicon glyphicon-chevron-left"></i>
             {{ 'glsr.gestock.home.return'|trans }}
         </a>&nbsp;
        {% if article is defined %}
            <a href="{{ path('glstock_art_list') }}" class="btn btn-default" role="button">
                <i class="glyphicon glyphicon-chevron-left"></i>
                {{ 'glsr.gestock.return_list'|trans }}
            </a>&nbsp;
        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('glstock_art_add') }}" class="btn btn-default" role="button">
                <i class="glyphicon glyphicon-edit"></i>
                {{ 'glsr.gestock.article.create.title_button'|trans }}
            </a>
        {% endif %}
    </p>

    {# S'il y a plus d'une page, on affiche la liste des pages #}
    {% if articles is defined %}
        {% if nb_page > 1 %}
            <nav class="text-center">
                <ul class="pagination">
                    {# On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b #}
                    <li {% if page == 1 %}class="disabled"{% endif %}><a href="{{ path('glstock_art_list', {'page': 1}) }}">&laquo;</a></li>
                    {% for p in range(1, nb_page) %}
                        <li {% if p == page %} class="active" {% endif %}>
                            <a href="{{ path('glstock_art_list', {'page': p}) }}">{{ p }}</a>
                        </li>
                    {% endfor %}
                    <li {% if page == nb_page %}class="disabled"{% endif %}><a href="{{ path('glstock_art_list', {'page': nb_page}) }}">&raquo;</a></li>
                </ul>
            </nav>
        {% endif %}
    {% endif %}
{% endblock %}
