{# src\Glsr\GestockBundle\Resources\views\Gestock\Supplier\add.html.twig #}

{% extends "GlsrGestockBundle::layout.html.twig" %}

{% block title %}
    {{ 'Fournisseur'|trans }} - {{ parent() }}
{% endblock %}
    
{% block glstock_body %}
    
    <h3>{{ 'Créer un fournisseur'|trans }}</h3>
    
    {% include 'GlsrGestockBundle:Gestock/Supplier:form.html.twig' %}
    
    <p>{{ 'article.create.caution'|trans }}</p>
    
    <p>
        <a href="{{ path('glstock_home') }}" class="btn btn-default">
            <i class="glyphicon glyphicon-chevron-left"></i>
            {{ "glsr.gestock.home.return"|trans }}
        </a>
    </p>
{% endblock %}
