{# src\Glsr\GestockBundle\Resources\views\Gestock\Supplier\delete.html.twig #}

{% extends "GlsrGestockBundle::layout.html.twig" %}

{% block title %}
    {{ 'glsr.gestock.supplier.delete.title'|trans }} - {{ parent() }}
{% endblock %}

{% block body_title %}
    {{ 'glsr.gestock.supplier.delete.title'|trans }}
{% endblock %}

{% block glstock_body %}

    <p>{{ 'glsr.gestock.supplier.delete.caution'|trans({'%supplier.name%': supplier.name}) }}</p>

    {# On met l'id de l'supplier dans la route de l'action du formulaire #}
    <form action="{{ path('glstock_suppli_del', {'id': supplier.id}) }}" method="post">
        <a href="{{ path('glstock_suppli_show', {'name': supplier.name}) }}" class="btn btn-default" role="button">
            <i class="glyphicon glyphicon-chevron-left"></i>
            {{ 'glsr.gestock.supplier.return'|trans }}
        </a>
        <input type="submit" value="{{ 'glsr.gestock.supplier.delete.submit_button'|trans }}" class="btn btn-default btn-danger" />
        {{ form_rest(form) }}
    </form>

{% endblock %}
