{# src\Glsr\GestockBundle\Resources\views\Gestock\Supplier\delete.html.twig #}

{% extends "GlsrGestockBundle::layout.html.twig" %}

{% block title %}
    {{ 'glsr.gestock.supplier.delete.title'|trans }} - {{ parent() }}
{% endblock %}

{% block body_title %}
    {{ 'glsr.gestock.supplier.delete.title'|trans }}
{% endblock %}

{% block glstock_body %}

    <p class="alert alert-warning">
        {{ 'glsr.gestock.supplier.delete.caution'|trans({'%supplier.name%': supplier.name})|nl2br }}
    </p>

    {{ form_start(form) }}
{#        {{ form_errors(form) }}#}
        <a href="{{ path('glstock_suppli_list') }}" class="btn btn-default" role="button">
            <i class="glyphicon glyphicon-chevron-left"></i>
            {{ 'glsr.gestock.return_list'|trans }}
        </a>
        <input type="submit" value="{{ 'glsr.gestock.supplier.delete.submit_button'|trans }}" class="btn btn-default btn-danger" />
    {{ form_end(form) }}

{% endblock %}
