{# src\Glsr\GestockBundle\Resources\views\Gestock\Supplier\form.html.twig #}

{# Cette vue n'hérite de personne, elle sera inclue par d'autres vues qui, elles, hériteront sûrement du layout. #}
{# Je dis "sûrement" car, ici pour cette vue, on n'en sait rien et c'est une info qui ne nous concerne pas. #}

<div class="well">
    {{ form_start(form) }}
    <fieldset>
        {{ form_errors(form) }}
        <legend>{{ 'glsr.gestock.supplier.form.info'|trans }}</legend>
        <div class="col-md-2">
            <span class="label label-default">
                {{ form_label(form.name) }}
            </span>
        </div>
        <div class="col-md-10">
            <span class="text-danger">{{ form_errors(form.name) }}</span>
            {{ form_widget(form.name) }}
        </div>
        <div class="col-md-2">
            <span class="label label-default">
                {{ form_label(form.address) }}
            </span>
        </div>
        <div class="col-md-5">
            <span class="text-danger">{{ form_errors(form.address) }}</span>
            <span class="text-danger">{{ form_errors(form.zipcode) }}</span>
            <span class="text-danger">{{ form_errors(form.town) }}</span>
            {{ form_widget(form.address) }}<br />
            {{ form_widget(form.zipcode) }} {{ form_widget(form.town) }}
        </div>
        <div class="col-md-5"><br />
            <span class="label label-default">
                {{ 'glsr.gestock.supplier.settings.country'|trans }}
            </span>
        </div>
    </fieldset>
    <fieldset>
        <legend>{{ 'glsr.gestock.settings.commercial'|trans }}</legend>
        <div class="col-md-2">
            <span class="label label-default">
                {{ form_label(form.contact) }}
            </span>
        </div>
        <div class="col-md-10">
            <span class="text-danger">{{ form_errors(form.contact) }}</span>
            {{ form_widget(form.contact) }}
        </div>
        <div class="col-md-2">
            <span class="label label-default">
                {{ form_label(form.gsm) }}
            </span>
        </div>
        <div class="col-md-4">
            <span class="text-danger">{{ form_errors(form.gsm) }}</span>
            {{ form_widget(form.gsm) }}
        </div>
        <div class="col-md-2">
            <span class="label label-default">
                {{ form_label(form.fax) }}
            </span>
        </div>
        <div class="col-md-4">
            <span class="text-danger">{{ form_errors(form.fax) }}</span>
            {{ form_widget(form.fax) }}
        </div>
        <div class="col-md-4"></div>
    </fieldset>
    <fieldset>
        <legend>{{ 'glsr.gestock.settings.administratif'|trans }}</legend>
        <div class="col-md-2">
            <span class="label label-default">
                {{ 'glsr.gestock.contact'|trans }}
            </span>
        </div>
        <div class="col-md-4"></div><br />
        <div class="col-md-2">
            <span class="label label-default">
                {{ form_label(form.phone) }}
            </span>
        </div>
        <div class="col-md-4">
            <span class="text-danger">{{ form_errors(form.phone) }}</span>
            {{ form_widget(form.phone) }}
        </div>
        <div class="col-md-2">
            <span class="label label-default">
                {{ form_label(form.mail) }}
            </span>
        </div>
        <div class="col-md-4">
            <span class="text-danger">{{ form_errors(form.mail) }}</span>
            {{ form_widget(form.mail) }}
        </div>
    </fieldset>
    <fieldset>
        <legend>{{ 'glsr.gestock.details'|trans }}</legend>
        <div class="col-md-2">
            <span class="label label-default">
                {{ form_label(form.family_log) }}
            </span>
        </div>
        <div class="col-md-4">
            <span class="text-danger">{{ form_errors(form.family_log) }}</span>
            {{ form_widget(form.family_log) }}
        </div>
        <div class="col-md-2">
            <span class="label label-default">
                {{ form_label(form.sub_family_log) }}
            </span>
        </div>
        <div class="col-md-4">
            <span class="text-danger">{{ form_errors(form.sub_family_log) }}</span>
            {{ form_widget(form.sub_family_log) }}
        </div><br />
        <div class="col-md-2">
            <span class="label label-default">
                {{ form_label(form.delaydeliv) }}
            </span>
        </div>
        <div class="col-md-4">
            <span class="text-danger">{{ form_errors(form.delaydeliv) }}</span>
            {{ form_widget(form.delaydeliv) }}
        </div>
    </fieldset>

    {% block choice_widget_expanded %}
        {% spaceless %}
        <div {{ block('widget_container_attributes') }}>
            <table class="panel panel-default">
                <thead class="panel-heading">
                    <tr>
                        <th class="col-md-5">{{ form_label(form.orderdate) }}</th>
                        {% for child in form.orderdate %}
                            <th class="col-md-1 text-center">{{ form_label(child) }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody class="panel-body">
                    <tr>
                        <td class="col-md-5">
                            {{ 'glsr.gestock.supplier.settings.day_order'|trans }}&nbsp;
                            <span class="text-danger">{{ form_errors(form.orderdate) }}</span>
                        </td>
                        {% for child in form.orderdate %}
                            <th class="col-md-1 text-center">{{ form_widget(child) }}</th>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
        {% endspaceless %}
    {% endblock choice_widget_expanded %}
    <section>
        {{ form_widget(form.save) }}&nbsp;{{ form_widget(form.addmore) }}
    </section>
{{ form_end(form) }}
</div>        

<script type="text/javascript">
    function upperCase(){
        $("#glsr_gestockbundle_supplier_town").val().toUpperCase();
    }

    function fillSubFamilyLog(){
        var id_select = $('#glsr_gestockbundle_supplier_family_log').val();
        var id_select2 = $('#glsr_gestockbundle_supplier_sub_family_log').val();
        $.ajax({
            url: "{{ path('fill_subfamilylog') }}",
            type: 'POST',
            data: {'id': id_select, 'id2': id_select2},
            dataType: 'json',
            success: function(json){ // quand la réponse de la requete arrive
                $('#glsr_gestockbundle_supplier_sub_family_log').empty(); // tu vides le select2
                $.each(json, function(index, value) { // et tu boucles sur la réponse contenu dans la variable passé à la function du success "json"
                    if (value.optionOption !== null){
                        $('#glsr_gestockbundle_supplier_sub_family_log').append('<option value="'+ value.idOption + '" ' + value.optionOption + '>'+ value.nameOption +'</option>');
                    } else {
                        $('#glsr_gestockbundle_supplier_sub_family_log').append('<option value="'+ value.idOption + '">'+ value.nameOption +'</option>');
                    }
                });
            }
        });
    }
</script>
