{# src\Glsr\GestockBundle\Resources\views\Gestock\Supplier\form.html.twig #}

{# Cette vue n'hérite de personne, elle sera inclue par d'autres vues qui, elles, hériteront sûrement du layout. #}
{# Je dis "sûrement" car, ici pour cette vue, on n'en sait rien et c'est une info qui ne nous concerne pas. #}

<h4>{{ "Formulaire Supplier"|trans }}</h4>

<div class="well">
    <form method="post" {{ form_enctype(form) }}>
        {{ form_widget(form.family_log, { 'attr' : { 'onChange':'fillSubFamilyLog();' } }) }}
        {{ form_widget(form.sub_family_log) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
        <input type="submit" class="btn btn-default btn-primary" value="{{ 'article.edit.submit_button'|trans }}" />
    </form>
</div>
<script type="text/javascript">
function fillSubFamilyLog(){
    var id_select = $('#glsr_gestockbundle_supplier_family_log').val();
    var id_select2 = $('#glsr_gestockbundle_supplier_sub_family_log').val();
    $.ajax({
        url: "{{ path('fill_subfamilylog') }}",
        type: 'POST',
        data: {'id': id_select},
        dataType: 'json',
        success: function(json){ // quand la réponse de la requete arrive
            $('#glsr_gestockbundle_supplier_sub_family_log').empty(); // tu vides le select2
            $.each(json, function(index, value) { // et tu boucle sur la réponse contenu dans la variable passé à la function du success "json"
                if (id_select2 != null && id_select2 == value.idOption){
                    $('#glsr_gestockbundle_supplier_sub_family_log').append('<option value="'+ value.idOption +'" selected="selected">'+ value.nameOption +'</option>');
                } else {
                $('#glsr_gestockbundle_supplier_sub_family_log').append('<option value="'+ value.idOption +'">'+ value.nameOption +'</option>');
                }
            });
        }
    });
}
</script>