{# src\Glsr\GestockBundle\Resources\views\Gestock\Supplier\index.html.twig #}

{% extends "GlsrGestockBundle::layout.html.twig" %}

{% block title %}
    Supplier - {{ parent() }}
{% endblock %}

{% block glstock_body %}

    <h2>Liste des fournisseurs</h2>

    <table class="table-striped table-bordered">
        <thead>
            <tr>
                <th class="col-md-1">id</th>
                <th class="col-md-2">name</th>
                <th class="col-md-2">address</th>
                <th class="col-md-1">{#FamilyLog#}famille logistique</th>
                <th class="col-md-1">{#SubFamilyLog#}sous famille</th>
            </tr>
        </thead>
        <tbody>
        {% for supplier in suppliers %}
            <tr>
                <td class="col-md-1">{{ supplier.id }}</td>
                <td class="col-md-2">
                    <a href="{{ path('glstock_suppli_edit', {'name': supplier.name}) }}">
                        {{ supplier.name }}
                    </a>
                </td>
                <td class="col-md-2">
                    {{ supplier.address }}<br />
                    {{ supplier.zipcode }}<br />
                    {{ supplier.town }}
                </td>
                <td class="col-md-1">{{ supplier.FamilyLog }}</td>
                <td class="col-md-1">{{ supplier.SubFamilyLog }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">Pas (encore !) de fournisseur</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p>
        {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('glstock_suppli_add') }}" class="btn btn-default">
            <i class="glyphicon glyphicon-edit"></i>
            {{ 'Ajouter Supplier'|trans }}
        </a>
        {% endif %}
    </p>
{% endblock %}
