{# src\Glsr\GestockBundle\Resources\views\Gestock\Supplier\index.html.twig #}

{% extends "GlsrGestockBundle::layout.html.twig" %}

{% block title %}
    Supplier - {{ parent() }}
{% endblock %}

{% block glstock_body %}

    <h2>Liste des fournisseurs</h2>

    <table class="table-striped table-bordered">
        <thead>
            <tr>
                <th class="col-md-1">id</th>
                <th class="col-md-2">name</th>
                <th class="col-md-2">address</th>
                <th class="col-md-1">{#FamilyLog#}famille logistique</th>
                <th class="col-md-1">{#SubFamilyLog#}sous famille</th>
            </tr>
        </thead>
        <tbody>
            {% if suppliers is defined %}
                {% include 'GlsrGestockBundle:Gestock/Supplier:suppliers.html.twig' %}
            {% elseif supplier is defined %}
                {% include 'GlsrGestockBundle:Gestock/Supplier:supplier.html.twig' %}
            {% endif %}
        </tbody>
    </table>
    <p>
        {% block buttons %}
        {% endblock %}
    </p>
        {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('glstock_suppli_add') }}" class="btn btn-default">
            <i class="glyphicon glyphicon-edit"></i>
            {{ 'Ajouter Supplier'|trans }}
        </a>
        {% endif %}

    {# S'il y a plus d'une page, on affiche la liste des pages #}
    {% if articles is defined %}
        {% if nb_page > 1 %}
            <div class="pagination">
                <ul>
                    {# On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b #}
                    {% for p in range(1, nb_page) %}
                        <li {% if p == page %} class="active" {% endif %}>
                            <a href="{{ path('glstock_home', {'page': p}) }}">{{ p }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endif %}

{% endblock %}
