{# src\Glsr\GestockBundle\Resources\views\Gestock\Supplier\supplier.html.twig #}

{% extends "GlsrGestockBundle::layout.html.twig" %}

{% block title %}
    {{ 'glsr.gestock.supplier.title'|trans }} - {{ parent() }}
{% endblock %}

{% block body_title %}
    <h2>
        <i class="glyphicon glyphicon-eye-open"></i> <small>{{ "%06d"|format(supplier.id) }}</small> {{ supplier.name }}
    </h2>
{% endblock %}

{% block glstock_body %}
    <fieldset class="well">
        <fieldset>
            <legend>{{ 'glsr.gestock.supplier.form.info'|trans }}</legend>
            <div class="col-md-2">
                <span class="label label-default">
                    {{ 'glsr.gestock.address'|trans }}
                </span>
            </div>
            <div class="col-md-4">
                {{ supplier.address }}<br />
                {{ supplier.zipcode }} {{ supplier.town }}
            </div>
            <div class="col-md-2">
                <span class="label label-default">
                    {{ 'glsr.gestock.supplier.settings.country'|trans }}
                </span><br />
            </div>
                <div class="col-md-4">
                    &nbsp;
                </div>
        </fieldset>
        <fieldset>
            <legend>{{ 'glsr.gestock.settings.commercial'|trans }}</legend>
            <div class="col-md-2">
                <span class="label label-default">
                    {{ 'glsr.gestock.contact'|trans }}
                </span>
            </div>
            <div class="col-md-4">{{ supplier.contact }}</div><br />
            <div class="col-md-2">
                <span class="label label-default">
                    {{ 'glsr.gestock.phone'|trans }}
                </span>
            </div>
            <div class="col-md-4">{{ phone_number_format(supplier.gsm, 'NATIONAL') }}</div>
            <div class="col-md-1">
                <span class="label label-default">
                    {{ 'glsr.gestock.fax'|trans }}
                </span>
            </div>
            <div class="col-md-3">{{ phone_number_format(supplier.fax, 'NATIONAL') }}</div><br />
            <div class="col-md-2">
                <span class="label label-default">
                    {{ 'glsr.gestock.mail'|trans }}
                </span>
            </div>
            <div class="col-md-4"></div>
        </fieldset>
        <fieldset>
            <legend>{{ 'glsr.gestock.settings.administratif'|trans }}</legend>
            <div class="col-md-2">
                <span class="label label-default">
                    {{ 'glsr.gestock.contact'|trans }}
                </span>
            </div>
            <div class="col-md-4"></div><br />
            <div class="col-md-2">
                <span class="label label-default">
                    {{ 'glsr.gestock.phone'|trans }}
                </span>
            </div>
            <div class="col-md-4">{{ phone_number_format(supplier.phone, 'NATIONAL') }}</div>
            <div class="col-md-1">
                <span class="label label-default">
                    {{ 'glsr.gestock.fax'|trans }}
                </span>
            </div>
            <div class="col-md-3">{{ phone_number_format(supplier.fax, 'NATIONAL') }}</div><br />
            <div class="col-md-2">
                <span class="label label-default">
                    {{ 'glsr.gestock.mail'|trans }}
                </span>
            </div>
            <div class="col-md-4">{{ supplier.mail }}</div>
        </fieldset>
        <fieldset>
            <legend>{{ 'glsr.gestock.details'|trans }}</legend>
            <div class="col-md-2">
                <span class="label label-default">
                    {{ 'glsr.gestock.settings.diverse.familylog'|trans }}
                </span>
            </div>
            <div class="col-md-4">{{ supplier.familyLog }}</div>
            <div class="col-md-2">
                <span class="label label-default">
                    {{ 'glsr.gestock.settings.diverse.subfamilylog'|trans }}
                </span>
            </div>
            <div class="col-md-4">{% if supplier.subFamilyLog %}{{ supplier.subFamilyLog }}{% endif %}</div>
        </fieldset>
    </fieldset>

        {% include 'GlsrGestockBundle:Gestock/Supplier:suptaborder.html.twig' %}

        {% include 'GlsrGestockBundle:Gestock/Supplier:suptabarticles.html.twig' %}

    <section class="col-md-12">
        <p>
            <a href="{{ path('glstock_suppli_list') }}" class="btn btn-default" role="button">
                <i class="glyphicon glyphicon-chevron-left"></i>
                {{ 'glsr.gestock.supplier.return_list'|trans }}
            </a>&nbsp;
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('glstock_suppli_add') }}" class="btn btn-default" role="button">
                <i class="glyphicon glyphicon-plus"></i>
                {{ 'glsr.gestock.supplier.create.title_button'|trans }}
            </a>&nbsp;
            <a href="{{ path('glstock_suppli_edit', {'slug': supplier.slug}) }}" class="btn btn-success" role="button">
                <i class="glyphicon glyphicon-pencil"></i>
                {{ 'glsr.gestock.supplier.edit.title_button'|trans }}
            </a>&nbsp;
            <a href="{{ path('glstock_suppli_del', {'id': supplier.id}) }}" class="btn btn-danger" role="button">
                <i class="glyphicon glyphicon-trash"></i>
                {{ 'glsr.gestock.supplier.delete.title_button'|trans }}
            </a>
        {% endif %}
        </p>
    </section>
{% endblock %}
