    <tr>
        <td class="col-md-1">{{ supplier.id }}</td>
        <td class="col-md-2">{{ supplier.name }}</td>
        <td class="col-md-2">
            {{ supplier.address }}<br />
            {{ supplier.zipcode }}<br />
            {{ supplier.town }}
        </td>
        <td class="col-md-1">{{ supplier.familyLog }}</td>
        <td class="col-md-1">{{ supplier.subFamilyLog }}</td>
        <td class="col-md-1">
            <a href="{{ path('glstock_suppli_edit', {'name': supplier.name}) }}" class="btn btn-default" title="{{ 'supplier.edit.title_button'|trans }}">
                <i class="glyphicon glyphicon-pencil"></i>
            </a>&nbsp;
                <a href="{{ path('glstock_suppli_del', {'id': supplier.id}) }}" class="btn btn-default" title="{{ 'supplier.delete.title_button'|trans }}">
                    <i class="glyphicon glyphicon-trash"></i>
                </a>
        </td>
    </tr>

    {% block buttons %}
        {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('glstock_suppli_add') }}" class="btn btn-default">
            <i class="glyphicon glyphicon-edit"></i>
            {{ 'Ajouter Supplier'|trans }}
        </a>&nbsp;
        <a href="{{ path('glstock_suppli_list', {'name': supplier.name}) }}" class="btn btn-default">
            <i class="glyphicon glyphicon-list-alt"></i>
            {{ 'Retour à la liste'|trans }}
        </a>
        {% endif %}
    {% endblock %}
    
    {# @todo include suppliers.list #}
