{% extends "GlsrGestockBundle::layout.html.twig" %}

{% block title %}
    {{ 'glsr.gestock.supplier.title'|trans }} - {{ parent() }}
{% endblock %}

{% block body_title %}
    <small>{{ "%06d"|format(supplier.id) }}</small> {{ supplier.name }}
{% endblock %}

{% block glstock_body %}
    <fieldset class="well">
        <legend>{{ 'glsr.gestock.supplier.form.info'|trans }}</legend>
        <div class="col-md-2">
            <span class="label label-default">
                {{ 'glsr.gestock.address'|trans }}
            </span>
        </div>
        <div class="col-md-5">
            {{ supplier.address }}<br />
            {{ supplier.zipcode }} {{ supplier.town }}
        </div>
        <div class="col-md-5">
            <span class="label label-default">
                {{ 'glsr.gestock.supplier.settings.country'|trans }}
            </span><br />
        </div>
    </fieldset>
    <fieldset class="well">
        <legend>{{ 'glsr.gestock.settings.commercial'|trans }}</legend>
        <div class="col-md-2">
            <span class="label label-default">
                {{ 'glsr.gestock.contact'|trans }}
            </span>
        </div>
        <div class="col-md-4">{{ supplier.contact }}</div><br />
        <div class="col-md-2">
            <span class="label label-default">
                {{ 'glsr.gestock.phone'|trans }}
            </span>
        </div>
        <div class="col-md-4">{{ phone_number_format(supplier.gsm, 'NATIONAL') }}</div>
        <div class="col-md-1">
            <span class="label label-default">
                {{ 'glsr.gestock.fax'|trans }}
            </span>
        </div>
        <div class="col-md-3">{{ phone_number_format(supplier.fax, 'NATIONAL') }}</div><br />
        <div class="col-md-2">
            <span class="label label-default">
                {{ 'glsr.gestock.mail'|trans }}
            </span>
        </div>
        <div class="col-md-4"></div>
    </fieldset>
    <fieldset class="well">
        <legend>{{ 'glsr.gestock.settings.administratif'|trans }}</legend>
        <div class="col-md-2">
            <span class="label label-default">
                {{ 'glsr.gestock.contact'|trans }}
            </span>
        </div>
        <div class="col-md-4"></div><br />
        <div class="col-md-2">
            <span class="label label-default">
                {{ 'glsr.gestock.phone'|trans }}
            </span>
        </div>
        <div class="col-md-4">{{ phone_number_format(supplier.phone, 'NATIONAL') }}</div>
        <div class="col-md-1">
            <span class="label label-default">
                {{ 'glsr.gestock.fax'|trans }}
            </span>
        </div>
        <div class="col-md-3">{{ phone_number_format(supplier.fax, 'NATIONAL') }}</div><br />
        <div class="col-md-2">
            <span class="label label-default">
                {{ 'glsr.gestock.mail'|trans }}
            </span>
        </div>
        <div class="col-md-4">{{ supplier.mail }}</div>
    </fieldset>
    <fieldset class="well">
        <legend>{{ 'glsr.gestock.details'|trans }}</legend>
        <div class="col-md-2">
            <span class="label label-default">
                {{ 'glsr.gestock.settings.diverse.familylog'|trans }}
            </span>
        </div>
        <div class="col-md-4">{{ supplier.familyLog }}</div>
        <div class="col-md-2">
            <span class="label label-default">
                {{ 'glsr.gestock.settings.diverse.subfamilylog'|trans }}
            </span>
        </div>
        <div class="col-md-4">{% if supplier.subFamilyLog %}{{ supplier.subFamilyLog }}{% endif %}</div>
    </fieldset>
    <table class="panel panel-default">
        <thead class="panel-heading">
            <tr>
                <th class="col-md-5">
                    <span class="label label-default">
                        {{ 'glsr.gestock.supplier.settings.order'|trans }}
                    </span>
                </th>
                <th class="col-md-1 text-center">
                    {{ 'glsr.gestock.dates.mon'|trans }}
                </th>
                <th class="col-md-1 text-center">
                    {{ 'glsr.gestock.dates.tue'|trans }}
                </th>
                <th class="col-md-1 text-center">
                    {{ 'glsr.gestock.dates.wed'|trans }}
                </th>
                <th class="col-md-1 text-center">
                    {{ 'glsr.gestock.dates.thu'|trans }}
                </th>
                <th class="col-md-1 text-center">
                    {{ 'glsr.gestock.dates.fri'|trans }}
                </th>
                <th class="col-md-1 text-center">
                    {{ 'glsr.gestock.dates.sat'|trans }}
                </th>
                <th class="col-md-1 text-center">
                    {{ 'glsr.gestock.dates.sun'|trans }}
                </th>
            </tr>
        </thead>
        <tbody class="panel-body">
            <tr>
                <td class="col-md-5">
                    {{ 'glsr.gestock.supplier.settings.day_order'|trans }}
                </td>
                {% for i in 1..7 %}
                    {% set b = 0 %}
                    {% for orderdate in supplier.orderdate %}
                        {% if orderdate == 1 and i == 1 %}<td class="col-md-1 text-center">X</td>
                        {% elseif orderdate == 2 and i == 2 %}<td class="col-md-1 text-center">X</td>
                        {% elseif orderdate == 3 and i == 3 %}<td class="col-md-1 text-center">X</td>
                        {% elseif orderdate == 4 and i == 4 %}<td class="col-md-1 text-center">X</td>
                        {% elseif orderdate == 5 and i == 5 %}<td class="col-md-1 text-center">X</td>
                        {% elseif orderdate == 6 and i == 6 %}<td class="col-md-1 text-center">X</td>
                        {% elseif orderdate == 7 and i == 7 %}<td class="col-md-1 text-center">X</td>
                        {% else %}{% set b = b + 1 %}
                        {% endif %}
                    {% endfor %}
                    {% if b == 2 %}
                        <td class="col-md-1 text-center">&nbsp;</td>
                    {% endif %}
                {% endfor %}
            </tr>
        </tbody>
    </table>

    <section class="col-md-12">
        <fieldset>
            <legend>
                {{ 'glsr.gestock.supplier.settings.articles_of'|trans({'%supplier.name%': supplier.name}) }}
            </legend>
            {% if articles is empty %}
                <p>
                    {{ 'glsr.gestock.supplier.settings.no_articles'|trans }}
                </p>
            {% else %}
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th class="col-md-3">
                                {{ 'glsr.gestock.title_item'|trans }}
                            </th>
                            <th class="col-md-1">
                                {{ 'glsr.gestock.settings.diverse.unitstorage'|trans }}
                            </th>
                            <th class="col-md-1">
                                {{ 'glsr.gestock.article.settings.packaging'|trans }}
                            </th>
                            <th class="col-md-1">
                                {{ 'glsr.gestock.article.settings.price'|trans }}
                            </th>
                            <th class="col-md-1">
                                {{ 'glsr.gestock.article.settings.quantity'|trans }}
                            </th>
                            <th class="col-md-1">
                                {{ 'glsr.gestock.article.settings.stock_alert'|trans }}
                            </th>
                            <th class="col-md-2">
                                {{ 'glsr.gestock.settings.diverse.familylog'|trans }}
                            </th>
                            <th class="col-md-2">
                                {{ 'glsr.gestock.settings.diverse.subfamilylog'|trans }}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for article in articles %}
                        <tr>
                            <td>
                                <a href="{{ path('glstock_art_show', {'name': article.name}) }}">
                                    {{ article.name }}
                                </a>
                            </td>
                            <td>{{ article.packaging }}</td>
                            <td>{{ article.unitstorage }}</td>
                            <td>{{ article.price }} €</td>
                            <td>{{ article.quantity }}</td>
                            <td>{{ article.minstock }}</td>
                            <td>{{ article.familyLog }}</td>
                            <td>{{ article.subFamilyLog }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </fieldset>
    </section>

    <section class="col-md-12">
        {% if is_granted('ROLE_ADMIN') %}
            <p>
                <a href="{{ path('glstock_suppli_edit', {'name': supplier.name}) }}" class="btn btn-success" role="button">
                    <i class="glyphicon glyphicon-pencil"></i>
                    {{ 'glsr.gestock.supplier.edit.title_button'|trans }}
                </a>&nbsp;
                <a href="{{ path('glstock_suppli_del', {'id': supplier.id}) }}" class="btn btn-danger" role="button">
                    <i class="glyphicon glyphicon-trash"></i>
                    {{ 'glsr.gestock.supplier.delete.title_button'|trans }}
                </a>
            </p>
            <p>
                <a href="{{ path('glstock_suppli_list') }}" class="btn btn-default" role="button">
                    <i class="glyphicon glyphicon-chevron-left"></i>
                    {{ 'glsr.gestock.supplier.return_list'|trans }}
                </a>&nbsp;
                <a href="{{ path('glstock_suppli_add') }}" class="btn btn-default" role="button">
                    <i class="glyphicon glyphicon-plus"></i>
                    {{ 'glsr.gestock.supplier.create.title_button'|trans }}
                </a>
            </p>
        {% endif %}
    </section>
{% endblock %}
