{# src\Glsr\GestockBundle\Resources\views\Gestock\Supplier\suptaborder.html.twig #}

<table class="panel panel-default">
    <thead class="panel-heading">
        <tr>
            <th class="col-md-5">
                <span class="label label-default">
                    {{ 'glsr.gestock.supplier.settings.order'|trans }}
                </span>
            </th>
            <th class="col-md-1 text-center">
                {{ 'glsr.gestock.dates.mon'|trans }}
            </th>
            <th class="col-md-1 text-center">
                {{ 'glsr.gestock.dates.tue'|trans }}
            </th>
            <th class="col-md-1 text-center">
                {{ 'glsr.gestock.dates.wed'|trans }}
            </th>
            <th class="col-md-1 text-center">
                {{ 'glsr.gestock.dates.thu'|trans }}
            </th>
            <th class="col-md-1 text-center">
                {{ 'glsr.gestock.dates.fri'|trans }}
            </th>
            <th class="col-md-1 text-center">
                {{ 'glsr.gestock.dates.sat'|trans }}
            </th>
            <th class="col-md-1 text-center">
                {{ 'glsr.gestock.dates.sun'|trans }}
            </th>
        </tr>
    </thead>
    <tbody class="panel-body">
        <tr>
            <td class="col-md-5">
                {{ 'glsr.gestock.supplier.settings.day_order'|trans }}
            </td>
            {% for i in 1..7 %}
                {% set b = 0 %}
                {% for orderdate in supplier.orderdate %}
                    {% if orderdate == 1 and i == 1 %}<td class="col-md-1 text-center">X</td>
                    {% elseif orderdate == 2 and i == 2 %}<td class="col-md-1 text-center">X</td>
                    {% elseif orderdate == 3 and i == 3 %}<td class="col-md-1 text-center">X</td>
                    {% elseif orderdate == 4 and i == 4 %}<td class="col-md-1 text-center">X</td>
                    {% elseif orderdate == 5 and i == 5 %}<td class="col-md-1 text-center">X</td>
                    {% elseif orderdate == 6 and i == 6 %}<td class="col-md-1 text-center">X</td>
                    {% elseif orderdate == 7 and i == 7 %}<td class="col-md-1 text-center">X</td>
                    {% else %}{% set b = b + 1 %}
                    {% endif %}
                {% endfor %}
                {% if b == 2 %}
                    <td class="col-md-1 text-center">&nbsp;</td>
                {% endif %}
            {% endfor %}
        </tr>
    </tbody>
</table>
