{% extends "base.html.twig" %}

{% form_theme edit_form 'AppBundle:Form:bootstrap_3_horizontal_layout.html.twig' %}

{% block title %}
    {{ '%entity% edit'|trans({'%entity%': 'gestock.settings.diverse.subfamilylog'|trans}, 'admin') }} - {{ parent() }}
{% endblock %}

{% block body_title %}
    <span class="glyphicon glyphicon-tags"></span>&nbsp;
    {{ '%entity% edit'|trans({'%entity%': 'gestock.settings.diverse.subfamilylog'|trans}, 'admin') }}
{% endblock %}

{% block glstock_body %}
    {{ form_start(edit_form) }}
        {{ form_row(edit_form.name) }}
        {{ form_row(edit_form.familylogs) }}
        <div class="form-group">
            <div class="col-sm-8 col-sm-offset-3">
                <div class="btn-group record_actions">
                    {{ form_widget(edit_form.save) }}
                </div>
            </div>
        </div>
    {{ form_end(edit_form) }}

    {{ form_start(delete_form) }}
        {{ form_widget(delete_form) }}

        <div class="btn-group record_actions">
            {% include 'homeButton.html.twig' %}
            <a class="btn btn-info" href="{{ path('admin_subfamilylog') }}">
                <i class="fa fa-list"></i> {{ 'Back to the list'|trans({}, 'admin') }}
            </a>

            <button class="btn btn-danger" type="submit"><i class="fa fa-trash-o"></i> {{ 'Delete'|trans({}, 'admin') }}</button>

        </div>

        <input name="modal" type="hidden" value="0">
    {{ form_end(delete_form) }}

    <div id="delete_confirm" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3>{{ 'Confirm delete'|trans({}, 'admin') }}</h3>
                </div>
                <div class="modal-body">
                    <p>{{ 'You are about to delete an item'|trans({}, 'admin') }}, {{ 'this procedure is irreversible'|trans({}, 'admin') }}.</p>
                    <p>{{ 'Do you want to proceed?'|trans({}, 'admin') }}</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger">{{ 'Yes'|trans({}, 'admin') }}</button>
                    <button class="btn btn-default" data-dismiss="modal">{{ 'No'|trans({}, 'admin') }}</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
