{% extends "base.html.twig" %}

{% block title %}
    {{ '%entity% edit'|trans({'%entity%': 'title'|trans({}, 'gs_suppliers')}, 'admin') }} - {{ parent() }}
{% endblock %}

{% block body_title %}
    <i class="fa fa-barcode" aria-hidden="true"></i> 
    {{ '%entity% edit'|trans({'%entity%': 'title'|trans({}, 'gs_suppliers')}, 'admin') }}
{% endblock %}

{% block glstock_body %}
    {% include 'AppBundle:supplier:form.html.twig' %}

    {{ form_start(delete_form) }}
        {{ form_widget(delete_form) }}

        <div class="btn-group record_actions">
            {% include 'homeButton.html.twig' %}
            <a class="btn btn-info" href="{{ path('supplier') }}">
                <i class="fa fa-list"></i> {{ 'gestock.return_list'|trans }}
            </a>

            <button class="btn btn-danger" type="submit"><i class="fa fa-trash-o"></i> {{ 'Delete'|trans({}, 'admin') }}</button>

        </div>

        <input name="modal" type="hidden" value="0">
    {{ form_end(delete_form) }}

    {% include 'deleteForm.html.twig' %}
{% endblock %}
