{% if edit_form is defined %}
    {% set form = edit_form %}
    {{ form_start(form) }}
{% else %}
    {{ form_start(form}) }}
{% endif %}

    <fieldset class="well">
        {{ form_errors(form) }}
        <legend>{{ 'form.info'|trans({}, 'gs_suppliers') }}</legend>
        <section class="form-line">
            <div class="col-md-1 label label-default">
                {{ form_label(form.name, 'gestock.name'|trans) }}
            </div>
            <div class="col-md-5">
                <span class="text-danger">{{ form_errors(form.name) }}</span>
                {{ form_widget(form.name) }}
            </div>
            <div class="col-md-1 label label-default">
                <i class="fa fa-phone"></i>&nbsp;
                {{ form_label(form.phone) }}
            </div>
            <div class="col-md-5">
                <span class="text-danger">{{ form_errors(form.phone) }}</span>
                {{ form_widget(form.phone) }}
            </div>
            <div class="clear"></div>
        </section>
        <section class="form-line">
            <div class="col-md-1 label label-default">
                <i class="fa fa-map-marker"></i>&nbsp;
                {{ form_label(form.address, 'gestock.address'|trans) }}
            </div>
            <div class="col-md-5">
                <span class="text-danger">{{ form_errors(form.address) }}</span>
                <span class="text-danger">{{ form_errors(form.zipcode) }}</span>
                <span class="text-danger">{{ form_errors(form.town) }}</span>
                {{ form_widget(form.address) }}
                {{ form_widget(form.zipcode) }}{{ form_widget(form.town, { 'attr' : {
                    'onBlur':'this.value=this.value.toUpperCase();',
                    'onFocus':'this.value=this.value.toUpperCase();',
                    'onKeyup':'this.value=this.value.toUpperCase();'
                } }) }}
            </div>
            {#<div class="col-md-1 label label-default">
                {{ 'settings.country'|trans({}, 'gs_suppliers') }}
            </div>
            <div class="col-md-5"></div>#}
            <div class="col-md-1 label label-default">
                <i class="fa fa-fax"></i>&nbsp;
                {{ form_label(form.fax) }}
            </div>
            <div class="col-md-5">
                <span class="text-danger">{{ form_errors(form.fax) }}</span>
                {{ form_widget(form.fax) }}
            </div>
            <div class="col-md-1 label label-default">
                <i class="fa fa-envelope"></i>&nbsp;
                {{ form_label(form.mail) }}
            </div>
            <div class="col-md-5">
                <span class="text-danger">{{ form_errors(form.mail) }}</span>
                {{ form_widget(form.mail) }}
            </div>
            <div class="clear"></div>
        </section>
    </fieldset>
    <fieldset class="well">
        <legend>{{ 'gestock.settings.commercial'|trans }}</legend>
        <section class="form-line">
            <div class="col-md-1 label label-default">
                <i class="fa fa-user"></i>&nbsp;
                {{ form_label(form.contact) }}
            </div>
            <div class="col-md-5">
                <span class="text-danger">{{ form_errors(form.contact) }}</span>
                {{ form_widget(form.contact) }}
            </div>
            <div class="col-md-6">&nbsp;</div>
            <div class="clear"></div>
        </section>
        <section class="form-line">
            <div class="col-md-1 label label-default">
                <i class="fa fa-mobile"></i>&nbsp;
                {{ form_label(form.gsm) }}
            </div>
            <div class="col-md-5">
                <span class="text-danger">{{ form_errors(form.gsm) }}</span>
                {{ form_widget(form.gsm) }}
            </div>
            <div class="col-md-1 label label-default">
                <i class="fa fa-envelope"></i>&nbsp;
                {{ 'gestock.mail'|trans }}
            </div>
            <div class="col-md-5">&nbsp;</div>
            <div class="clear"></div>
        </section>
    </fieldset>
    <fieldset class="well">
        <legend>{{ 'gestock.details'|trans }}</legend>
        <section class="form-line">
            <div class="col-md-2 label label-default">
                <i class="fa fa-tags"></i>&nbsp;
                {{ form_label(form.familyLog) }}
            </div>
            <div class="col-md-4">
                <span class="text-danger">{{ form_errors(form.familyLog) }}</span>
                {{ form_widget(form.familyLog) }}
            </div>
            <div class="col-md-2 label label-default">
                <i class="fa fa-clock-o"></i>&nbsp;
                {{ form_label(form.delaydeliv) }}
            </div>
            <div class="col-md-4">
                <span class="text-danger">{{ form_errors(form.delaydeliv) }}</span>
                {{ form_widget(form.delaydeliv) }}
            </div>
            <div class="clear"></div>
        </section>
        <p>&nbsp;</p>
        <div class="col-md-12">
        {% block choice_widget_expanded %}
            {% spaceless %}
            <div {{ block('widget_container_attributes') }}>
                <table class="panel panel-default">
                    <thead class="panel-heading">
                        <tr>
                            <th class="col-md-5">{{ 'settings.order'|trans({}, 'gs_suppliers') }}</th>
                            {% for child in form.orderdate %}
                                <th class="col-md-1 text-center">{{ form_label(child) }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody class="panel-body">
                        <tr>
                            <td class="col-md-5">
                                {{ 'settings.day_order'|trans({}, 'gs_suppliers') }}&nbsp;
                                <span class="text-danger">{{ form_errors(form.orderdate) }}</span>
                            </td>
                            {% for child in form.orderdate %}
                                <th class="col-md-1 text-center">{{ form_widget(child) }}</th>
                            {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </div>
            {% endspaceless %}
        {% endblock choice_widget_expanded %}
        </div>
    </fieldset>

    <p>
        <button class="btn btn-primary" type="submit">
            {% if edit_form is defined %}
                <i class="fa fa-edit"></i>&nbsp;
                {{ 'Edit'|trans({}, 'admin') }}
            {% else %}
                <i class="fa fa-plus"></i>&nbsp;
                {{ 'Create'|trans({}, 'admin') }}
            {% endif %}
        </button>
    </p>
{{ form_end(form) }}
<script type="text/javascript">
function upperCase(){
    $("#supplier_town").val().toUpperCase();
}
</script>
