{% block body_title %}
    {{ 'form.title'|trans({}, 'gs_suppliers') }}
{% endblock %}

{% if edit_form is defined %}
    {% set form = edit_form %}
    {{ form_start(form) }}
{% else %}
    {{ form_start(form, {action: path('suppliers_create')}) }}
{% endif %}

    <fieldset class="well">
        {{ form_errors(form) }}
        <legend>{{ 'form.info'|trans({}, 'gs_suppliers') }}</legend>
        <div class="col-md-2">
            <span class="label label-default">
                {{ form_label(form.name, 'gestock.name'|trans) }}
            </span>
        </div>
        <div class="col-md-10">
            <span class="text-danger">{{ form_errors(form.name) }}</span>
            {{ form_widget(form.name) }}
        </div>
        <div class="col-md-2">
            <span class="label label-default">
                {{ form_label(form.address, 'gestock.address'|trans) }}
            </span>
        </div>
        <div class="col-md-5">
            <span class="text-danger">{{ form_errors(form.address) }}</span>
            <span class="text-danger">{{ form_errors(form.zipcode) }}</span>
            <span class="text-danger">{{ form_errors(form.town) }}</span>
            {{ form_widget(form.address) }}<br />
            {{ form_widget(form.zipcode) }} {{ form_widget(form.town, { 'attr' : {
                'onBlur':'this.value=this.value.toUpperCase();',
                'onFocus':'this.value=this.value.toUpperCase();',
                'onKeyup':'this.value=this.value.toUpperCase();'
            } }) }}
        </div>
        <div class="col-md-5">
            <span class="label label-default">
                {{ 'settings.country'|trans({}, 'gs_suppliers') }}
            </span>
        </div>
    </fieldset><fieldset class="well">
        <legend>{{ 'gestock.settings.commercial'|trans }}</legend>
        <div class="col-md-2">
            <span class="label label-default">
                {{ 'gestock.contact'|trans }}
            </span>
        </div>
        <div class="col-md-10">
            <span class="text-danger">{{ form_errors(form.contact) }}</span>
            {{ form_widget(form.contact) }}
        </div>
        <div class="col-md-2">
            <span class="label label-default">
                {{ 'gestock.phone'|trans }}
            </span>
        </div>
        <div class="col-md-4">
            <span class="text-danger">{{ form_errors(form.gsm) }}</span>
            {{ form_widget(form.gsm) }}
        </div>
        <div class="col-md-2">
            <span class="label label-default">
                {{ 'gestock.fax'|trans }}
            </span>
        </div>
        <div class="col-md-4">
            <span class="text-danger">{{ form_errors(form.fax) }}</span>
            {{ form_widget(form.fax) }}
        </div>
        <div class="col-md-2">
            <span class="label label-default">
                {{ 'gestock.mail'|trans }}
            </span>
        </div>
        <div class="col-md-4"></div>
    </fieldset><fieldset class="well">
        <legend>{{ 'gestock.settings.administratif'|trans }}</legend>
        <div class="col-md-2">
            <span class="label label-default">
                {{ 'gestock.contact'|trans }}
            </span>
        </div>
        <div class="col-md-4"></div><br />
        <div class="col-md-2">
            <span class="label label-default">
                {{ 'gestock.phone'|trans }}
            </span>
        </div>
        <div class="col-md-4">
            <span class="text-danger">{{ form_errors(form.phone) }}</span>
            {{ form_widget(form.phone) }}
        </div>
        <div class="col-md-2">
{#            <span class="label label-default">
                {{ 'gestock.fax'|trans }}
            </span>#}
        </div>
        <div class="col-md-4">
{#             <span class="text-danger">{{ form_errors(form.fax) }}</span>
            { form_widget(form.fax) }#}
        </div>
        <div class="col-md-2">
            <span class="label label-default">
                {{ 'gestock.mail'|trans }}
            </span>
        </div>
        <div class="col-md-4">
            <span class="text-danger">{{ form_errors(form.mail) }}</span>
            {{ form_widget(form.mail) }}
        </div>
    </fieldset><fieldset class="well">
        <legend>{{ 'gestock.details'|trans }}</legend>
        <div class="col-md-2">
            <span class="label label-default">
                {{ 'gestock.settings.diverse.familylog'|trans }}
            </span>
        </div>
        <div class="col-md-4">
            <span class="text-danger">{{ form_errors(form.family_log) }}</span>
            {{ form_widget(form.family_log) }}
        </div>
        <div class="col-md-2">
            <span class="label label-default">
                {{ 'settings.delay'|trans({}, 'gs_suppliers') }}
            </span>
        </div>
        <div class="col-md-4">
            <span class="text-danger">{{ form_errors(form.delaydeliv) }}</span>
            {{ form_widget(form.delaydeliv) }}
        </div>

        {% block choice_widget_expanded %}
            {% spaceless %}
            <div {{ block('widget_container_attributes') }}>
                <table class="panel panel-default">
                    <thead class="panel-heading">
                        <tr>
                            <th class="col-md-5">{{ 'settings.order'|trans({}, 'gs_suppliers') }}</th>
                            {% for child in form.orderdate %}
                                <th class="col-md-1 text-center">{{ form_label(child) }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody class="panel-body">
                        <tr>
                            <td class="col-md-5">
                                {{ 'settings.day_order'|trans({}, 'gs_suppliers') }}&nbsp;
                                <span class="text-danger">{{ form_errors(form.orderdate) }}</span>
                            </td>
                            {% for child in form.orderdate %}
                                <th class="col-md-1 text-center">{{ form_widget(child) }}</th>
                            {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </div>
            {% endspaceless %}
        {% endblock choice_widget_expanded %}
    </fieldset>

    <p>
        <button class="btn btn-primary" type="submit">
            {% if edit_form is defined %}
                {{ 'Edit'|trans({}, 'admin') }}
            {% else %}
                {{ 'Create'|trans({}, 'admin') }}
            {% endif %}
        </button>
    </p>
{{ form_end(form) }}
<script type="text/javascript">
function upperCase(){
    $("#supplier_town").val().toUpperCase();
}
</script>
