{% extends "base.html.twig" %}

{% block title %}
    {{ 'title'|trans({}, 'gs_suppliers') }} - {{ parent() }}
{% endblock %}

{% block body_title %}
    <i class="fa fa-barcode" aria-hidden="true"></i>
    <small>{{ "%06d"|format(supplier.id) }}</small> {{ supplier.name }}
{% endblock %}

{% block glstock_body %}
    <fieldset class="well">
        <legend>{{ 'form.info'|trans({}, 'gs_suppliers') }}</legend>
        <div class="col-md-2 label label-default">
                <i class="fa fa-map-marker"></i>
                {{ 'gestock.address'|trans }}
        </div>
        <div class="col-md-4">
            {{ supplier.address }}<br />
            {{ supplier.zipcode }} {{ supplier.town }}
        </div>
        <div class="col-md-2 label label-default">
                {{ 'settings.country'|trans({}, 'gs_suppliers') }}
        </div>
        <div class="col-md-4">&nbsp;</div>
    </fieldset><fieldset class="well">
        <legend>{{ 'gestock.settings.commercial'|trans }}</legend>
        <div class="col-md-2 label label-default">
                <i class="fa fa-user"></i>
                {{ 'gestock.contact'|trans }}
        </div>
        <div class="col-md-4">{{ supplier.contact }}</div><br />
        <div class="col-md-2 label label-default">
                <i class="fa fa-mobile"></i>
                {{ 'gestock.phone'|trans }}
        </div>
        <div class="col-md-4">{{ phone_number_format(supplier.gsm, 'NATIONAL') }}</div>
        <div class="col-md-1 label label-default">
                <i class="fa fa-fax"></i>
                {{ 'gestock.fax'|trans }}
        </div>
        <div class="col-md-3">{{ phone_number_format(supplier.fax, 'NATIONAL') }}</div><br />
        <div class="col-md-2 label label-default">
                <i class="fa fa-envelope"></i>
                {{ 'gestock.mail'|trans }}
        </div>
        <div class="col-md-4"></div>
    </fieldset><fieldset class="well">
        <legend>{{ 'gestock.settings.administratif'|trans }}</legend>
        <div class="col-md-2 label label-default">
                <i class="fa fa-user"></i>
                {{ 'gestock.contact'|trans }}
        </div>
        <div class="col-md-4"></div><br />
        <div class="col-md-2 label label-default">
                <i class="fa fa-phone"></i>
                {{ 'gestock.phone'|trans }}
        </div>
        <div class="col-md-4">{{ phone_number_format(supplier.phone, 'NATIONAL') }}</div>
        <div class="col-md-1 label label-default">
                <i class="fa fa-fax"></i>
                {{ 'gestock.fax'|trans }}
        </div>
        <div class="col-md-3">{{ phone_number_format(supplier.fax, 'NATIONAL') }}</div><br />
        <div class="col-md-2 label label-default">
                <i class="fa fa-envelope"></i>
                {{ 'gestock.mail'|trans }}
        </div>
        <div class="col-md-4">{{ supplier.mail }}</div>
    </fieldset>
    <fieldset class="well">
        <legend>{{ 'gestock.details'|trans }}</legend>
        <div class="col-md-2 label label-default">
                <i class="fa fa-tags"></i>
                {{ 'gestock.settings.diverse.familylog'|trans }}
        </div>
        <div class="col-md-4">{{ supplier.familyLog }}</div>
        <div class="col-md-6">&nbsp;</div>
        <div class="clearfix"></div>
        <p>&nbsp;</p>
        <div class="col-md-2 label label-default">
            {{ 'settings.order'|trans({}, 'gs_suppliers') }}
        </div>
        <div class="col-md-10">
            <table class="panel panel-default">
                <thead class="panel-heading">
                    <tr>
                        <th class="col-md-5">
                                
                        </th>
                        <th class="col-md-1 text-center">
                            {{ 'Monday'|trans }}
                        </th>
                        <th class="col-md-1 text-center">
                            {{ 'Tuesday'|trans }}
                        </th>
                        <th class="col-md-1 text-center">
                            {{ 'Wednesday'|trans }}
                        </th>
                        <th class="col-md-1 text-center">
                            {{ 'Thursday'|trans }}
                        </th>
                        <th class="col-md-1 text-center">
                            {{ 'Friday'|trans }}
                        </th>
                        <th class="col-md-1 text-center">
                            {{ 'Saturday'|trans }}
                        </th>
                        <th class="col-md-1 text-center">
                            {{ 'Sunday'|trans }}
                        </th>
                    </tr>
                </thead>
                <tbody class="panel-body">
                    <tr>
                        <td>
                            {{ 'settings.day_order'|trans({}, 'gs_suppliers') }}
                        </td>
                        {% for i in 1..7 %}
                            {% set b = 0 %}
                            {% for orderdate in supplier.orderdate %}
                                {% if orderdate == 1 and i == 1 %}<td class="text-center">X</td>
                                {% elseif orderdate == 2 and i == 2 %}<td class="text-center">X</td>
                                {% elseif orderdate == 3 and i == 3 %}<td class="text-center">X</td>
                                {% elseif orderdate == 4 and i == 4 %}<td class="text-center">X</td>
                                {% elseif orderdate == 5 and i == 5 %}<td class="text-center">X</td>
                                {% elseif orderdate == 6 and i == 6 %}<td class="text-center">X</td>
                                {% elseif orderdate == 7 and i == 7 %}<td class="text-center">X</td>
                                {% else %}{% set b = b + 1 %}
                                {% endif %}
                            {% endfor %}
                            {% if b == 2 %}
                                <td class="text-center">&nbsp;</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="clearfix"></div>
    </fieldset>

    {% if articles is defined %}
    <fieldset>
        <legend>
            {{ 'settings.articles_of'|trans({'%supplier.name%': supplier.name}, 'gs_suppliers') }}
        </legend>
        {% if articles is empty %}
            <p>
                {{ 'settings.no_articles'|trans({}, 'gs_suppliers') }}
            </p>
        {% else %}
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th class="col-md-3">
                            {{ 'gestock.title_item'|trans }}
                        </th>
                        <th class="col-md-1">
                            {{ 'gestock.settings.diverse.unitstorage'|trans }}
                        </th>
                        <th class="col-md-1">
                            {{ 'settings.packaging'|trans({}, 'gs_articles') }}
                        </th>
                        <th class="col-md-1">
                            {{ 'settings.price'|trans({}, 'gs_articles') }}
                        </th>
                        <th class="col-md-1">
                            {{ 'settings.quantity'|trans({}, 'gs_articles') }}
                        </th>
                        <th class="col-md-1">
                            {{ 'settings.stock_alert'|trans({}, 'gs_articles') }}
                        </th>
                        <th class="col-md-2">
                            <i class="fa fa-tags"></i>
                            {{ 'gestock.settings.diverse.familylog'|trans }}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for article in articles %}
                    <tr>
                        <td>
                            <a href="{{ path('article_show', {'slug': article.slug}) }}">
                                {{ article.name }}
                            </a>
                        </td>
                        <td>{{ article.packaging }}</td>
                        <td>{{ article.unitstorage }}</td>
                        <td>{{ article.price }} €</td>
                        <td>{{ article.quantity }}</td>
                        <td>{{ article.minstock }}</td>
                        <td>{{ article.familyLog }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </fieldset>
    {% endif %}
    {% if is_granted("ROLE_SUPER_ADMIN") %}
        {{ form_start(delete_form) }}
        {{ form_widget(delete_form) }}
    {% endif %}

        <div class="btn-group record_actions">
            {% include 'homeButton.html.twig' %}
            <a class="btn btn-info btn-list" href="{{ path('supplier') }}">
                {{ 'gestock.return_list'|trans }}
            </a>
            {% if is_granted('ROLE_ADMIN') %}
                <a class="btn btn-primary btn-edit" href="{{ path('supplier_edit', {slug: supplier.slug}) }}">
                    {{ 'Edit'|trans({}, 'admin') }}
                </a>
                {% if is_granted("ROLE_SUPER_ADMIN") %}
                    <button class="btn btn-danger btn-delete" type="submit">
                        {{ 'Delete'|trans({}, 'admin') }}
                    </button>
                {% endif %}
            {% endif %}
        </div>

        <input name="modal" type="hidden" value="0">
    {{ form_end(delete_form) }}

    {% include 'deleteForm.html.twig' %}
{% endblock %}
