{% extends "base.html.twig" %}

{% form_theme form 'AppBundle:Form:bootstrap_3_horizontal_layout.html.twig' %}

{% block title %}
    {{ '%entity% creation'|trans({'%entity%': 'gestock.settings.diverse.unitstorage'|trans}, 'admin') }} - {{ parent() }}
{% endblock %}

{% block body_title %}
    <i class="fa fa-cubes"></i>
    {{ '%entity% list'|trans({'%entity%': 'gestock.settings.diverse.unitstorage'|trans}, 'admin') }}
{% endblock %}

{% block glstock_body %}
    {{ form_start(form, {action: path('admin_unitstorage_create')}) }}
        {{ form_row(form.name) }}
        {{ form_row(form.abbr) }}
        <div class="form-group">
            <div class="col-sm-8 col-sm-offset-3">
                <div class="btn-group record_actions">
                    {{ form_widget(form.save) }} {{ form_widget(form.addmore) }}
                </div>
            </div>
        </div>
    {{ form_end(form) }}
        
        <div class="btn-group record_actions">
            {% include 'homeButton.html.twig' %}
            <a class="btn btn-info" href="{{ path('admin_unitstorage') }}">
                <i class="fa fa-list"></i> {{ 'Back to the list'|trans({}, 'admin') }}
            </a>


        </div>


{% endblock %}
