{% extends "base.html.twig" %}

{% block title %}
    {{ 'gestock.settings.diverse.unitstorage'|trans }} - {{ parent() }}
{% endblock %}

{% block body_title %}
    <i class="fa fa-cubes"></i>
    {{ 'gestock.settings.diverse.unitstorage'|trans }}
{% endblock %}

{% block glstock_body %}
    <table class="table table-hover table-bordered record_properties">
        <tbody>
            <tr>
                <th scope="row" class="col-md-4">{{ 'gestock.name'|trans }}</th>
                <td class="col-md-8">{{ unitstorage.name }}</td>
            </tr>
            <tr>
                <th scope="row">{{ 'gestock.abbr'|trans }}</th>
                <td>{{ unitstorage.abbr }}</td>
            </tr>
        </tbody>
    </table>

    {{ form_start(delete_form) }}
        {{ form_widget(delete_form) }}

        <div class="btn-group record_actions">
            {% include 'homeButton.html.twig' %}
            <a class="btn btn-info" href="{{ path('unitstorage') }}">
                <i class="fa fa-list"></i> {{ 'gestock.return_list'|trans }}
            </a>

            <a class="btn btn-primary" href="{{ path('unitstorage_edit', {slug: unitstorage.slug}) }}">
                <i class="fa fa-edit"></i> {{ 'Edit'|trans({}, 'admin') }}
            </a>
            <button class="btn btn-danger" type="submit"><i class="fa fa-trash-o"></i> {{ 'Delete'|trans({}, 'admin') }}</button>

        </div>

        <input name="modal" type="hidden" value="0">
    {{ form_end(delete_form) }}

    {% include 'deleteForm.html.twig' %}
{% endblock %}
