{% extends "base.html.twig" %}
{% set lastloop = 0 %}

{% form_theme edit_form 'AppBundle:Form:bootstrap_3_horizontal_layout.html.twig' %}

{% block title %}
    {{ '%entity% edit'|trans({'%entity%': 'menu.material'|trans({}, 'messages')}, 'admin') }} - {{ parent() }}
{% endblock %}

{% block body_title %}
    <i class="fa fa-pie-chart"></i>
    {{ '%entity% edit'|trans({'%entity%': 'menu.material'|trans({}, 'messages')}, 'admin') }}
{% endblock %}

{% block glstock_body %}

    {% include 'AppBundle:Settings/Diverse/Material:form.html.twig' %}

    {% if is_granted("ROLE_SUPER_ADMIN") %}
        {{ form_start(delete_form) }}
        {{ form_widget(delete_form) }}
    {% endif %}

        <div class="btn-group record_actions">
            {% include 'homeButton.html.twig' %}
            <a class="btn btn-info btn-list" href="{{ path('material') }}">
                {{ 'gestock.return_list'|trans }}
            </a>

            <button class="btn btn-danger btn-delete" type="submit">
                {{ 'Delete'|trans({}, 'admin') }}
            </button>

        </div>

        <input name="modal" type="hidden" value="0">
    {{ form_end(delete_form) }}

    {% include 'deleteForm.html.twig' %}

    <script type="text/javascript">
        function isMultiple(id){
            var multiple = 0;
            var articlesCount = {{ edit_form.articles|length }} + 1;

            var unit = $('#material_articles_unit_' + id).val();
            $('#{{ edit_form.unitWorking.vars.id }}').val(unit);

            for (var iter = 1; iter <= articlesCount; iter++) {
                if ($('#{{ edit_form.articles.vars.id }}_' + iter).is(':checked')) {
                    multiple++;
                }
            }

            if (multiple > 1) {
                $('#{{ edit_form.multiple.vars.id }}').prop('checked', true);
            } else {
                $('#{{ edit_form.multiple.vars.id }}').prop('checked', false);
            }
        }
    </script>
{% endblock %}
