{% extends 'base.html.twig' %}

{% block title %}
    {{ 'gestock.install.title'|trans }} - {{ parent() }}
{% endblock %}

{% block body_title %}
    <span class="glyphicon glyphicon-import" aria-hidden="true"></span>
    {{ 'gestock.install.title'|trans }}
{% endblock body_title %}

{% block glstock_body %}
    <section class="col-lg-3">
        <div class="panel panel-default">
            <header class="panel-heading">
                <span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span>
                {{ 'gestock.install.subtitle'|trans|raw }}
            </header>
            <ul class="list-unstyled list-group">
                <li class="list-group-item">
                    <span class="badge pull-left">1</span>&nbsp;
                    <a href="{{ path('gs_install_st1') }}">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        {{ 'gestock.settings.user.title'|trans }}
                    </a>
                </li>
                <li class="list-group-item">
                    <span class="badge pull-left">2</span>&nbsp;
                    <a href="{{ path('gs_install_st2') }}">
                        <span class="glyphicon glyphicon-tower" aria-hidden="true"></span>
                        {{ 'gestock.settings.company.title'|trans }}
                    </a>
                </li>
                <li class="list-group-item">
                    <span class="badge pull-left">3</span>&nbsp;
                    <a href="{{ path('gs_install_st3') }}">
                        <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                        {{ 'gestock.settings.settings.title'|trans }}
                    </a>
                </li>
                <li class="list-group-item">
                    <span class="badge pull-left">4</span>&nbsp;
                    <a href="{{ path('gs_install_st4') }}">
                        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                        {{ 'gestock.settings.diverse.title'|trans }}
                    </a>
                </li>
                <li class="list-group-item">
                    <span class="badge pull-left">5</span>&nbsp;
                    <a href="{{ path('gs_install_st5') }}">
                        <span class="glyphicon glyphicon-barcode" aria-hidden="true"></span>
                        {{ 'title'|trans({}, 'gs_suppliers') }}
                    </a>
                </li>
                <li class="list-group-item">
                    <span class="badge pull-left">6</span>&nbsp;
                    <a href="{{ path('gs_install_st6') }}">
                        <span class="fa fa-shopping-basket" aria-hidden="true"></span>
                        {{ 'title'|trans({}, 'gs_articles') }}
                    </a>
                </li>
                <li class="list-group-item">
                    <span class="badge pull-left">7</span>&nbsp;
                    <a href="{{ path('gs_install_st7') }}">
                        <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>
                        {{ 'title'|trans({}, 'gs_inventories') }}
                    </a>
                </li>
            </ul>
        </div>
    </section>
    <section class="col-lg-9">
        <div class="panel panel-default">
            <header class="panel-heading">
                {% block install_title %}{% endblock install_title %}
            </header>
            <section class="panel-body">
                {% block install_body %}{% endblock install_body %}
            </section>
            {% block install_footer %}{% endblock install_footer %}
        </div>
    </section>
{% endblock glstock_body %}
