{% extends 'base.html.twig' %}

{% block title %}
    {{ 'gestock.install.title'|trans }} - {{ parent() }}
{% endblock %}

{% block body_title %}
    <span class="glyphicon glyphicon-import" aria-hidden="true"></span>
    {{ 'gestock.install.title'|trans }}
{% endblock body_title %}

{% block glstock_body %}
    <section id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper" class="panel panel-default">
            <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
                <li>
                    <a href="{{ path('gs_install_st1') }}">
                        <span class="fa-stack fa-lg pull-left">
                            <i class="fa fa-group fa-stack-1x" aria-hidden="true"></i>
                        </span>
                        {{ 'gestock.settings.group.title'|trans }}
                    </a>
                </li>
                <li>
                    <a href="{{ path('gs_install_st2') }}">
                        <span class="fa-stack fa-lg pull-left">
                            <i class="fa fa-user fa-stack-1x" aria-hidden="true"></i>
                        </span>
                        {{ 'gestock.settings.user.title'|trans }}
                    </a>
                </li>
                <li>
                    <a href="{{ path('gs_install_st3') }}">
                        <span class="fa-stack fa-lg pull-left">
                            <span class="glyphicon glyphicon-tower fa-stack-1x" aria-hidden="true"></span>
                        </span>
                        {{ 'gestock.settings.company.title'|trans }}
                    </a>
                </li>
                <li>
                    <a href="{{ path('gs_install_st4') }}">
                        <span class="fa-stack fa-lg pull-left">
                            <span class="glyphicon glyphicon-wrench fa-stack-1x" aria-hidden="true"></span>
                        </span>
                        {{ 'gestock.settings.settings.title'|trans }}
                    </a>
                </li>
                <li>
                    <a href="{{ path('gs_install_st5') }}">
                        <span class="fa-stack fa-lg pull-left">
                            <span class="glyphicon glyphicon-info-sign fa-stack-1x" aria-hidden="true"></span>
                        </span>
                        {{ 'gestock.settings.diverse.title'|trans }}
                    </a>
                </li>
                <li>
                    <a href="{{ path('gs_install_st6') }}">
                        <span class="fa-stack fa-lg pull-left">
                            <span class="glyphicon glyphicon-barcode fa-stack-1x" aria-hidden="true"></span>
                        </span>
                        {{ 'title'|trans({}, 'gs_suppliers') }}
                    </a>
                </li>
                <li>
                    <a href="{{ path('gs_install_st7') }}">
                        <span class="fa-stack fa-lg pull-left">
                            <span class="fa fa-shopping-basket fa-stack-1x" aria-hidden="true"></span>
                        </span>
                        {{ 'title'|trans({}, 'gs_articles') }}
                    </a>
                </li>
                <li>
                    <a href="{{ path('gs_install_st8') }}">
                        <span class="fa-stack fa-lg pull-left">
                            <i class="fa fa-pie-chart fa-stack-1x" aria-hidden="true"></i>
                        </span>
                        {{ 'menu.material'|trans }}
                    </a>
                </li>
                <li>
                    <a href="{{ path('gs_install_st9') }}">
                        <span class="fa-stack fa-lg pull-left">
                            <span class="glyphicon glyphicon-tasks fa-stack-1x" aria-hidden="true"></span>
                        </span>
                        {{ 'title'|trans({}, 'gs_inventories') }}
                    </a>
                </li>
                
            </ul>
        </div>
    </section>
                    
    <section id="page-content-wrapper">
        <div class="panel panel-default xyz">
            <header class="panel-heading">
                {% block install_title %}{% endblock install_title %}
            </header>
            <section class="panel-body">
                {% block install_body %}{% endblock install_body %}
            </section>
            {% block install_footer %}{% endblock install_footer %}
        </div>
    </section>
{% endblock glstock_body %}
{% block javascripts %}
    {% javascripts 'bundles/app/js/sidebar_menu.js' filter='?yui_js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
