{% extends 'AppBundle:install:layout.html.twig' %}

{% block install_title %}
    <span class="badge">4</span>&nbsp;
    {{ 'gestock.install.st4.title'|trans }}
{% endblock install_title %}

{% block install_body %}
        <div class="col-lg-12">
            <ul class="nav nav-tabs nav-justified" role="tablist">
                <li {% if app.request.attributes.get('_route') == 'gs_install_st4_1' %} class="active"{% endif %}>
                    <a href="{{ path('gs_install_st4_1') }}">
                        <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
                        {{ 'gestock.settings.diverse.familylog'|trans }}
                    </a>
                </li>
                <li {% if app.request.attributes.get('_route') == 'gs_install_st4_2' %} class="active"{% endif %}>
                    <a href="{{ path('gs_install_st4_2') }}">
                        <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
                        {{ 'gestock.settings.diverse.zonestorage'|trans }}
                    </a>
                </li>
                <li {% if app.request.attributes.get('_route') == 'gs_install_st4_3' %} class="active"{% endif %}>
                    <a href="{{ path('gs_install_st4_3') }}">
                        <i class="fa fa-cubes" aria-hidden="true"></i>
                        {{ 'gestock.settings.diverse.unitstorage'|trans }}
                    </a>
                </li>
                <li {% if app.request.attributes.get('_route') == 'gs_install_st4_4' %} class="active"{% endif %}>
                    <a href="{{ path('gs_install_st4_4') }}">
                        <span class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></span>
                        {{ 'gestock.settings.diverse.vat'|trans }}
                    </a>
                </li>
            </ul>
            <div class="well-lg">
                {% if familylog is defined %}
                    {{ include('AppBundle:settings/divers/familylog:form.html.twig') }}
                {% endif %}
                {% if zonestorage is defined %}
                    {{ include('AppBundle:settings/divers/zonestorage:form.html.twig') }}
                {% endif %}
                {% if unitstorage is defined %}
                    {{ include('AppBundle:settings/divers/unitstorage:form.html.twig') }}
                {% endif %}
                {% if tva is defined %}
                    {{ include('AppBundle:settings/divers/tva:form.html.twig') }}
                {% endif %}
                <div class="alert alert-info">
                    {{ 'gestock.install.st4.info'|trans|nl2br }}
                </div>
            </div>
        </div>
{% endblock install_body %}

{% block install_footer %}
<footer class="panel-footer">
    <div class="col-lg-6 text-left">
        <a href="{{ path('gs_install_st3') }}" class="btn btn-primary" role="button">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            &nbsp;{{ 'gestock.previous'|trans }}
        </a>
    </div>
    <div class="col-lg-6 text-right">
        <a href="{{ path('gs_install_st5') }}" class="btn btn-primary" role="button">
            {{ 'gestock.next'|trans }}&nbsp;
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        </a>
    </div>
    <span class="clearfix"></span>
</footer>
{% endblock install_footer %}
