{% extends "base.html.twig" %}

{% form_theme form 'AppBundle:Form:bootstrap_3_horizontal_layout.html.twig' %}

{% block title %}
    {{ '%entity% creation'|trans({'%entity%': 'ZoneStorage'}, 'admin') }} - {{ parent() }}
{% endblock %}

{% block body_title %}
    <span class="glyphicon glyphicon-map-marker"></span>
    {{ '%entity% creation'|trans({'%entity%': 'gestock.settings.diverse.zonestorage'|trans()}, 'admin') }}
{% endblock %}

{% block glstock_body %}
    {{ form_start(form, {action: path('zonestorage_create')}) }}
        {{ form_row(form.name) }}
        <div class="form-group">
            <div class="col-sm-8 col-sm-offset-3">
                <div class="btn-group record_actions">
                    {{ form_widget(form.save) }} {{ form_widget(form.addmore) }}
                </div>
            </div>
        </div>
    {{ form_end(form) }}

        
        <div class="btn-group record_actions">
            {% include 'homeButton.html.twig' %}
            <a class="btn btn-info" href="{{ path('zonestorage') }}">
                <i class="fa fa-list"></i> {{ 'gestock.return_list'|trans }}
            </a>
        </div>

{% endblock %}
