{% extends "base.html.twig" %}

{% form_theme edit_form 'AppBundle:Form:bootstrap_3_horizontal_layout.html.twig' %}

{% block title %}
    {{ '%entity% edit'|trans({'%entity%': 'gestock.settings.diverse.vat'|trans}, 'admin') }} - {{ parent() }}
{% endblock %}

{% block body_title %}
    <span class="glyphicon glyphicon-piggy-bank"></span>
    {{ '%entity% edit'|trans({'%entity%': 'gestock.settings.diverse.vat'|trans}, 'admin') }}
{% endblock %}

{% block glstock_body %}
    {{ form_start(edit_form) }}
        {{ form_row(edit_form.name) }}
        <div class="form-group">
            <div class="col-sm-8 col-sm-offset-3">
                <div class="btn-group record_actions">
                    {{ form_widget(edit_form.save) }}
                </div>
            </div>
        </div>
    {{ form_end(edit_form) }}

    {{ form_start(delete_form) }}
        {{ form_widget(delete_form) }}

        <div class="btn-group record_actions">
            {% include 'homeButton.html.twig' %}
            <a class="btn btn-info" href="{{ path('rate') }}">
                <i class="fa fa-list"></i> {{ 'gestock.return_list'|trans }}
            </a>

            <button class="btn btn-danger" type="submit"><i class="fa fa-trash-o"></i> {{ 'Delete'|trans({}, 'admin') }}</button>

        </div>

        <input name="modal" type="hidden" value="0">
    {{ form_end(delete_form) }}

    {% include 'deleteForm.html.twig' %}
{% endblock %}
