{% extends "base.html.twig" %}

{% block title %}
    {{ '%entity% list'|trans({'%entity%': 'gestock.settings.diverse.vat'|trans}, 'admin') }} - {{ parent() }}
{% endblock %}

{% block body_title %}
    <span class="glyphicon glyphicon-piggy-bank"></span>
    {{ '%entity% list'|trans({'%entity%': 'gestock.settings.diverse.vat'|trans}, 'admin') }}
{% endblock %}

{% block glstock_body %}
    <table class="table table-striped table-hover table-bordered records_list">
        <thead>
            <tr>
                <th scope="col" class="col-md-10">{{ 'gestock.name'|trans }}</th>
                <th scope="col" class="col-md-2 text-center">{{ 'Actions'|trans({}, 'admin') }}</th>
            </tr>
        </thead>
        <tbody>
            {% for tva in entities %}
                <tr>
                    <td><a href="{{ path('tva_show', {id: tva.id}) }}">{{ tva.name }}</a></td>
                    <td class="text-center">
                        <div class="btn-group">
                            <a class="btn btn-default btn-sm" href="{{ path('tva_show', {id: tva.id}) }}">
                                <i class="fa fa-file-o"></i> {{ 'show'|trans({}, 'admin') }}
                            </a>
                            <a class="btn btn-info btn-edit btn-sm" href="{{ path('tva_edit', {id: tva.id}) }}">
                                {{ 'edit'|trans({}, 'admin') }}
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <div class="btn-group">
        {% include 'homeButton.html.twig' %}
        <a class="btn btn-info" href="{{ path('tva_new') }}">
            <i class="fa fa-plus"></i> {{ 'Create a new entry'|trans({}, 'admin') }}
        </a>
    </div>
    
{% endblock %}
