{% extends "base.html.twig" %}

{% block title %}
    {{ 'gestock.settings.diverse.vat'|trans }} - {{ parent() }}
{% endblock %}

{% block body_title %}
    <span class="glyphicon glyphicon-piggy-bank"></span>
    {{ 'gestock.settings.diverse.vat'|trans }}
{% endblock %}

{% block glstock_body %}
    <table class="table table-hover table-bordered record_properties">
        <tbody>
            <tr>
                <th scope="row" class="col-md-4">{{ 'gestock.id'|trans }}</th>
                <td class="col-md-8">{{ tva.id }}</td>
            </tr>
            <tr>
                <th scope="row">{{ 'gestock.settings.diverse.vat'|trans }}</th>
                <td>{{ tva.rate * 100 }} %</td>
            </tr>
        </tbody>
    </table>

    {{ form_start(delete_form) }}
        {{ form_widget(delete_form) }}

        <div class="btn-group record_actions">
            {% include 'homeButton.html.twig' %}
            <a class="btn btn-info btn-list" href="{{ path('tva') }}">
                {{ 'gestock.return_list'|trans }}
            </a>

            <a class="btn btn-primary btn-edit" href="{{ path('tva_edit', {id: tva.id}) }}">
                {{ 'Edit'|trans({}, 'admin') }}
            </a>
            <button class="btn btn-danger btn-delete" type="submit">
                {{ 'Delete'|trans({}, 'admin') }}
            </button>

        </div>

        <input name="modal" type="hidden" value="0">
    {{ form_end(delete_form) }}

    {% include 'deleteForm.html.twig' %}
{% endblock %}
