{# src\Glsr\GestockBundle\Resources\views\Gestock\Article\index.html.twig #}

{% extends "GlsrGestockBundle::layout.html.twig" %}

{% block title %}
    Settings - {{ parent() }}
{% endblock %}

{% block body_title %}
    {{ 'glsr.gestock.settings.new'|trans }}
{% endblock %}

{% block glstock_body %}
    
    {% include 'GlsrGestockBundle:Gestock/Settings:form.html.twig' %}
    
    <p class="alert alert-warning">{{ 'glsr.gestock.settings.form.caution'|trans }}</p>
    
    <p>
        <a href="{{ path('glstock_home') }}" class="btn btn-default" role="button">
            <i class="glyphicon glyphicon-chevron-left"></i>
            {{ "glsr.gestock.home.return"|trans }}
        </a>
    </p>
{% endblock %}