{# src\Glsr\GestockBundle\Resources\views\Gestock\Article\index.html.twig #}

{% extends "GlsrGestockBundle::layout.html.twig" %}

{% block title %}
    Settings - {{ parent() }}
{% endblock %}

{% block glstock_body %}
    
    <h3>{{ 'Edit configuration'|trans }}</h3>
    
    {% include 'GlsrGestockBundle:Gestock/Settings:form.html.twig' %}
    
    <p>{{ 'Cette configuration déterminera le fonctionnement de votre application'|trans }}</p>
    
    <p>
        <a href="{{ path('glstock_settings') }}" class="btn btn-default" role="button">
            <i class="glyphicon glyphicon-chevron-left"></i>
            {{ "Retour à la configuration"|trans }}
        </a>
    </p>
{% endblock %}