{# src\Glsr\GestockBundle\Resources\views\Gestock\Settings\form.html.twig #}

{# Cette vue n'hérite de personne, elle sera inclue par d'autres vues qui, elles, hériteront sûrement du layout. #}
{# Je dis "sûrement" car, ici pour cette vue, on n'en sait rien et c'est une info qui ne nous concerne pas. #}

<div class="well">
    {{ form_start(form) }}
        <fieldset>
            <legend>{{ 'glsr.gestock.details'|trans }}</legend>
            {{ form_errors(form) }}
            {{ form_widget(form) }}
        </fieldset>
        
        {{ form_widget(form.save) }}{{ form_widget(form.addmore) }}
        
    {{ form_end(form) }}
</div>
