{# src\Glsr\GestockBundle\Resources\views\Gestock\Settings\index.html.twig #}

{% extends "GlsrGestockBundle::layout.html.twig" %}

{% block title %}
    {{ 'glsr.gestock.settings.title'|trans }} - {{ parent() }}
{% endblock %}

{% block body_title %}
    {{ 'glsr.gestock.settings.title'|trans }}
{% endblock %}
{% block glstock_body %}

    <ul class="nav nav-tabs nav-justified" role="tablist">
        <li {% if app.request.attributes.get('_route') == 'glstock_company' %}class="active"{% endif %}>
            <a href="{{ path('glstock_company') }}">
                <i class="glyphicon glyphicon-tower"></i>
                {{ 'glsr.gestock.settings.company.title'|trans }}
            </a>
        </li>
        <li {% if app.request.attributes.get('_route') == 'glstock_application' %}class="active"{% endif %}>
            <a href="{{ path('glstock_application') }}">
                <i class="glyphicon glyphicon-wrench"></i>
                {{ 'glsr.gestock.settings.application.title'|trans }}
            </a>
        </li>
        <li {% if app.request.attributes.get('_route') == 'glstock_divers' %}class="active"{% endif %}>
            <a href="{{ path('glstock_divers') }}">
                <i class="glyphicon glyphicon-info-sign"></i>
                {{ 'glsr.gestock.settings.diverse.title'|trans }}
            </a>
        </li>
    </ul>

{% if company is defined %}
    <section class="well row">
        <div class="panel panel-default">
            <header class="panel-heading">
                <a id="company"></a>
                <i class="glyphicon glyphicon-tower"></i>
                {{ 'glsr.gestock.settings.company.title'|trans }}
            </header>
            <div class="panel-body">
                <p>{{ 'glsr.gestock.settings.company.subtitle'|trans }}</p>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="col-md-3">{{ 'glsr.gestock.name'|trans }}</th>
                            <th class="col-md-4">
                                <i class="glyphicon glyphicon-home"></i>
                                {{ 'glsr.gestock.adress'|trans }}
                            </th>
                            <th class="col-md-2">
                                <i class="glyphicon glyphicon-phone-alt"></i>
                                {{ 'glsr.gestock.phone'|trans }}
                            </th>
                            <th class="col-md-3">
                                <i class="glyphicon glyphicon-user"></i>
                                {{ 'glsr.gestock.contact'|trans }}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% set idSociety = "" %}
                        {% for society in company %}
                        {% set idSociety = society.id %}
                        <tr>
                            <td>{{ society.name }}</td>
                            <td>{{ society.adress }}<br />{{ society.zipcode }} {{ society.town }}</td>
                            <td>{{ society.phone }}</td>
                            <td>{{ society.contact }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <p>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('glstock_company_edit', {'id': idSociety}) }}" class="btn btn-default" role="button">
                            <i class="glyphicon glyphicon-edit"></i>
                            {{ 'glsr.gestock.edit'|trans }}
                        </a>
                    {% endif %}
                </p>
            </div>
        </div>
    </section>
{% endif %}
{% if settings is defined %}
    <section class="well row">
        <div class="panel panel-default">
            <header class="panel-heading">
                <a id="application"></a>
                <i class="glyphicon glyphicon-wrench"></i>
                {{ 'glsr.gestock.settings.application.title'|trans }}
            </header>
            <div class="panel-body">
                <p>{{ 'glsr.gestock.settings.application.subtitle'|trans }}</p>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="col-md-3">
                                <i class="glyphicon glyphicon-book"></i>
                                {{ 'glsr.gestock.settings.application.style_inventory'|trans }}
                            </th>
                            <th class="col-md-3">
                                <i class="glyphicon glyphicon-record"></i>
                                {{ 'glsr.gestock.settings.application.method_calcul_inventory'|trans }}
                            </th>
                            <th class="col-md-3">
                                <i class="glyphicon glyphicon-map-marker"></i>
                                {{ 'glsr.gestock.settings.application.first_inventory'|trans }}
                            </th>
                            <th class="col-md-3">
                                <i class="glyphicon glyphicon-eur"></i>
                                {{ 'glsr.gestock.settings.application.currency'|trans }}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% set idSetting = "" %}
                        {% for setting in settings %}
                        {% set idSetting = setting.id %}
                        <tr>
                            <td>{{ setting.inventoryStyle }}</td>
                            <td>{{ setting.calculation }}</td>
                            <td>{{ setting.firstInventory|date('d/m/Y') }}</td>
                            <td>{{ setting.currency }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <p>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('glstock_settings_edit', {'id': idSetting}) }}" class="btn btn-default" role="button">
                            <i class="glyphicon glyphicon-edit"></i>
                            {{ 'glsr.gestock.edit'|trans }}
                        </a>
                    {% endif %}
                </p>
            </div>
        </div>
    </section>
{% endif %}
{% if divers is defined %}
    <section class="well row">
        <div class="col-md-7">
        <div class="panel panel-default">
            <header class="panel-heading">
                <a id="divers"></a>
                <i class="glyphicon glyphicon-tag"></i>
                {{ 'glsr.gestock.settings.diverse.familylog'|trans }}
            </header>
            <div class="panel-body">
                <p>{{ 'glsr.gestock.settings.diverse.family_subtitle'|trans }}</p>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="col-md-2">
                                <i class="glyphicon glyphicon-tag"></i>
                                {{ 'glsr.gestock.settings.diverse.family'|trans }}
                            </th>
                            <th class="col-md-3">
                                <i class="glyphicon glyphicon-tags"></i>
                                {{ 'glsr.gestock.settings.diverse.subfamily'|trans }}
                            </th>
                            <th class="col-md-2">
                                <i class="glyphicon glyphicon-cog"></i>
                                {{ 'glsr.gestock.action'|trans }}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for subfamily in subfamilylog %}
                        <tr>
                            <td>{{ subfamily.familylog.name }}</td>
                            <td>{{ subfamily.name }}</td>
                            <td class="text-center">
                                {% if is_granted('ROLE_ADMIN') %}
                                    <a href="{{ path('glstock_setdiv_famlog_edit', {'id': subfamily.familylog.id}) }}" class="btn btn-default" title="{{ 'glsr.gestock.settings.diverse.family_edit'|trans }}" role="button">
                                        <i class="glyphicon glyphicon-pencil"></i>
                                    </a>&nbsp;
                                    <a href="{{ path('glstock_setdiv_subfamlog_edit', {'id': subfamily.id}) }}" class="btn btn-default" title="{{ 'glsr.gestock.settings.diverse.subfamily_edit'|trans }}" role="button">
                                        <i class="glyphicon glyphicon-pencil"></i>
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <p>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('glstock_setdiv_famlog_add') }}" class="btn btn-default" role="button">
                            <i class="glyphicon glyphicon-edit"></i>
                            {{ 'glsr.gestock.settings.diverse.family_add'|trans }}
                        </a>&nbsp;
                        <a href="{{ path('glstock_setdiv_subfamlog_add') }}" class="btn btn-default" role="button">
                            <i class="glyphicon glyphicon-edit"></i>
                            {{ 'glsr.gestock.settings.diverse.subfamily_add'|trans }}
                        </a>
                    {% endif %}
                </p>
            </div>
        </div>
        </div>

        <div class="col-md-4 col-md-offset-1">
        <div class="panel panel-default">
            <header class="panel-heading">
                <a id="zonestorage"></a>
                <i class="glyphicon glyphicon-globe"></i>
                {{ 'glsr.gestock.settings.diverse.zonestorage'|trans }}
            </header>
            <div class="panel-body">
                <p>{{ 'glsr.gestock.settings.diverse.zonestorage_subtitle'|trans }}</p>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="col-md-3">
                                <i class="glyphicon glyphicon-globe"></i>
                                {{ 'glsr.gestock.settings.diverse.zonestorage'|trans }}
                            </th>
                            <th class="col-md-1">
                                <i class="glyphicon glyphicon-cog"></i>
                                {{ 'glsr.gestock.action'|trans }}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for zstorage in zonestorage %}
                        <tr>
                            <td>{{ zstorage.name }}</td>
                            <td class="text-center">
                                {% if is_granted('ROLE_ADMIN') %}
                                    <a href="{{ path('glstock_setdiv_zonestorage_edit', {'id': zstorage.id}) }}" class="btn btn-default" title="{{ 'glsr.gestock.settings.diverse.zonestorage_edit'|trans }}" role="button">
                                        <i class="glyphicon glyphicon-pencil"></i>
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <p>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('glstock_setdiv_zonestorage_add') }}" class="btn btn-default" role="button">
                            <i class="glyphicon glyphicon-edit"></i>
                            {{ 'glsr.gestock.settings.diverse.zonestorage_add'|trans }}
                        </a>
                    {% endif %}
                </p>
            </div>
        </div>
        </div>
    </section>
    <section class="well row">
        <div class="col-md-7">
        <div class="panel panel-default">
            <header class="panel-heading">
                <a id="unitstorage"></a>
                <i class="glyphicon glyphicon-shopping-cart"></i>
                {{ 'glsr.gestock.settings.diverse.unitstorage'|trans }}
            </header>
            <div class="panel-body">
                <p>{{ 'glsr.gestock.settings.diverse.unitstorage_subtitle'|trans }}</p>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="col-md-3">
                                <i class="glyphicon glyphicon-shopping-cart"></i>
                                {{ 'glsr.gestock.settings.diverse.unitstorage'|trans }}
                            </th>
                            <th class="col-md-2">
                                <i class="glyphicon glyphicon-flag"></i>
                                {{ 'glsr.gestock.abbr'|trans }}
                            </th>
                            <th class="col-md-2">
                                <i class="glyphicon glyphicon-cog"></i>
                                {{ 'glsr.gestock.action'|trans }}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ustorage in unitstorage %}
                        <tr>
                            <td>{{ ustorage.name }}</td>
                            <td>{{ ustorage.abbr }}</td>
                            <td class="text-center">
                                {% if is_granted('ROLE_ADMIN') %}
                                    <a href="{{ path('glstock_setdiv_unitstorage_edit', {'id': ustorage.id}) }}" class="btn btn-default" title="{{ 'glsr.gestock.settings.diverse.unitstorage_edit'|trans }}" role="button">
                                        <i class="glyphicon glyphicon-pencil"></i>
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <p>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('glstock_setdiv_unitstorage_add') }}" class="btn btn-default" role="button">
                            <i class="glyphicon glyphicon-edit"></i>
                            {{ 'glsr.gestock.settings.diverse.unitstorage_add'|trans }}
                        </a>
                    {% endif %}
                </p>
            </div>
        </div>
        </div>

        <div class="col-md-4 col-md-offset-1">
        <div class="panel panel-default">
            <header class="panel-heading">
                <a id="tva"></a>
                <i class="glyphicon glyphicon-piggy-bank"></i>
                {{ 'glsr.gestock.settings.diverse.vat'|trans }}
            </header>
            <div class="panel-body">
                <p>{{ 'glsr.gestock.settings.diverse.vat_subtitle'|trans }}</p>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="col-md-2">
                                <i class="glyphicon glyphicon-piggy-bank"></i>
                                {{ 'glsr.gestock.settings.diverse.vat_rate'|trans }}
                            </th>
                            <th class="col-md-2">
                                <i class="glyphicon glyphicon-cog"></i>
                                {{ 'glsr.gestock.action'|trans }}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for taxe in tva %}
                        <tr>
                            <td>{{ taxe.name }}</td>
                            <td class="text-center">
                                {% if is_granted('ROLE_ADMIN') %}
                                    <a href="{{ path('glstock_setdiv_tva_edit', {'id': taxe.id}) }}" class="btn btn-default" title="{{ 'glsr.gestock.settings.diverse.vat_edit'|trans }}">
                                        <i class="glyphicon glyphicon-pencil"></i>
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <p>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('glstock_setdiv_tva_add') }}" class="btn btn-default">
                            <i class="glyphicon glyphicon-edit"></i>
                            {{ 'glsr.gestock.settings.diverse.vat_add'|trans }}
                        </a>
                    {% endif %}
                </p>
            </div>
        </div>
        </div>
    </section>
{% endif %}
<p>
    <a href="{{ path('glstock_home') }}" class="btn btn-default" role="button">
         <i class="glyphicon glyphicon-chevron-left"></i>
         {{ 'glsr.gestock.home.return'|trans }}
     </a>
</p>
{% endblock %}
