{# src\Glsr\GestockBundle\Resources\views\Gestock\Settings\index.html.twig #}

{% extends "GlsrGestockBundle::layout.html.twig" %}

{% block title %}
    {{ 'glsr.gestock.settings.title'|trans }} - {{ parent() }}
{% endblock %}

{% block body_title %}
    {{ 'glsr.gestock.settings.title'|trans }}
{% endblock %}
{% block glstock_body %}

    <ul class="nav nav-tabs nav-justified" role="tablist">
        <li {% if app.request.attributes.get('_route') == 'glstock_company' %} class="active"{% endif %}>
            <a href="{{ path('glstock_company') }}">
                <i class="glyphicon glyphicon-tower"></i>
                {{ 'glsr.gestock.settings.company.title'|trans }}
            </a>
        </li>
        <li {% if app.request.attributes.get('_route') == 'glstock_application' %} class="active"{% endif %}>
            <a href="{{ path('glstock_application') }}">
                <i class="glyphicon glyphicon-wrench"></i>
                {{ 'glsr.gestock.settings.application.title'|trans }}
            </a>
        </li>
        <li {% if app.request.attributes.get('_route') == 'glstock_divers' %}class="active"{% endif %}>
            <a href="{{ path('glstock_divers') }}">
                <i class="glyphicon glyphicon-info-sign"></i>
                {{ 'glsr.gestock.settings.diverse.title'|trans }}
            </a>
        </li>
    </ul>

{% if company is defined %}
    {% include 'GlsrGestockBundle:Gestock/Settings:company.html.twig' %}
{% endif %}
{% if settings is defined %}
    {% include 'GlsrGestockBundle:Gestock/Settings:settings.html.twig' %}
{% endif %}
{% if divers is defined %}
    {% include 'GlsrGestockBundle:Gestock/Settings:divers.html.twig' %}
{% endif %}
<p>
    <a href="{{ path('glstock_home') }}" class="btn btn-default" role="button">
         <i class="glyphicon glyphicon-chevron-left"></i>
         {{ 'glsr.gestock.home.return'|trans }}
     </a>
</p>
{% endblock %}
