{# src\Glsr\GestockBundle\Resources\views\Gestock\Settings\settings.html.twig #}

<section class="well row">
    <div class="panel panel-default">
        <header class="panel-heading">
            <a id="application"></a>
            <i class="glyphicon glyphicon-wrench"></i>
            {{ 'glsr.gestock.settings.application.title'|trans }}
        </header>
        <div class="panel-body">
            <p>{{ 'glsr.gestock.settings.application.subtitle'|trans }}</p>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="col-md-3">
                            <i class="glyphicon glyphicon-book"></i>
                            {{ 'glsr.gestock.settings.application.style_inventory'|trans }}
                        </th>
                        <th class="col-md-3">
                            <i class="glyphicon glyphicon-record"></i>
                            {{ 'glsr.gestock.settings.application.calculation'|trans }}
                        </th>
                        <th class="col-md-3">
                            <i class="glyphicon glyphicon-map-marker"></i>
                            {{ 'glsr.gestock.settings.application.first_inventory'|trans }}
                        </th>
                        <th class="col-md-3">
                            <i class="glyphicon glyphicon-eur"></i>
                            {{ 'glsr.gestock.settings.application.currency'|trans }}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% set idSetting = "" %}
                    {% for setting in settings %}
                    {% set idSetting = setting.id %}
                    <tr>
                        <td>{{ setting.inventoryStyle }}</td>
                        <td>{{ setting.calculation }}</td>
                        <td>{{ setting.firstInventory is empty ? "" : setting.firstInventory|date('d/m/Y') }}</td>
                        <td>{{ setting.currency }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <p>
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('glstock_settings_edit', {'id': idSetting}) }}" class="btn btn-default" role="button">
                        <i class="glyphicon glyphicon-edit"></i>
                        {{ 'glsr.gestock.edit'|trans }}
                    </a>
                {% endif %}
            </p>
        </div>
    </div>
</section>
