{# src\Glsr\GestockBundle\Resources\views\layout.html.twig #}

{% extends "::layout.html.twig" %}
{% block title %}
    {{ 'glsr.title_page'|trans }}
{% endblock %}

{% block header %}
    <div class="page-header">
        <h1>
            <span class="glyphicon glyphicon-cutlery"></span>
            {{ 'glsr.title'|trans }} <small>{{ 'glsr.subtitle'|trans }}</small>
            <small class="pull-right">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    {{ 'glsr.connect_as'|trans({'%username%': app.user.username}) }} - <a class="btn btn-default btn-primary btn-sm" href="{{ path('fos_user_security_logout') }}">{{ 'glsr.logout'|trans }}</a>
                {% else %}
                    <a class="btn btn-default btn-primary btn-sm" href="{{ path('fos_user_security_login') }}">{{ 'glsr.login'|trans }}</a>
                {% endif %}
            </small>
        </h1>
    </div>
{% endblock %}

{% block body %}
    <h1>{{ 'glsr.gestock.title'|trans }} - <small>{% block body_title %}{% endblock %}</small></h1>

    <hr />
    {% if app.request.hasPreviousSession %}
        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="alert alert-{{ type }}">
                    {{ message|trans }}
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}

    {% block glstock_body %}
    {% endblock %}
{% endblock %}
