{# src\Glsr\GestockBundle\Resources\views\layout.html.twig #}

{% extends "::layout.html.twig" %}
{% block title %}
    Gestock - GLSR
{% endblock %}

{% block header %}
    <div class="page-header">
        <h1>
            <span class="glyphicon glyphicon-cutlery"></span> 
            Glsr <small>Gestion Libre des Stocks d'un Restaurant...</small>
        </h1>
    </div>
{% endblock %}
    
    
{% block menu_bundle %}
    <ul class="nav nav-tabs">
        <li {% if app.request.attributes.get('_route') == 'glstock_home' %}class="active"{% endif %}>
            <a href="{{ path('glstock_home') }}">
                <i class="glyphicon glyphicon-home"></i>
                Accueil
            </a>
        </li>
        <li {% if app.request.attributes.get('_route') == 'glstock_art_list' %}
            class="active dropdown"
            {% elseif app.request.attributes.get('_route') == 'glstock_art_add' %}
            class="active dropdown"
            {% else %}
            class="dropdown"
            {% endif %}>
            <a class="dropdown-toggle" data-toggle="dropdown" href="">
                Article <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a href="{{ path('glstock_art_list') }}">
                        <i class="glyphicon glyphicon-list-alt"></i>
                        Article list
                    </a>
                </li>
                {% if is_granted('ROLE_ADMIN') %}
                <li>
                    <a href="{{ path('glstock_art_add') }}">
                        <i class="glyphicon glyphicon-edit"></i>
                        Article add
                    </a>
                </li>
                {% endif %}
            </ul>

        </li>
        <li {% if app.request.attributes.get('_route') == 'glstock_suppli_list' %}
            class="active dropdown"
            {% elseif app.request.attributes.get('_route') == 'glstock_suppli_add' %}
            class="active dropdown"
            {% else %}
            class="dropdown"
            {% endif %}>
            <a class="dropdown-toggle" data-toggle="dropdown" href="">
                Supplier <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a href="{{ path('glstock_suppli_list') }}">
                        <i class="glyphicon glyphicon-list-alt"></i>
                        Supplier list
                    </a>
                </li>
                {% if is_granted('ROLE_ADMIN') %}
                <li>
                    <a href="{{ path('glstock_suppli_add') }}">
                        <i class="glyphicon glyphicon-edit"></i>
                        Supplier add
                    </a>
                </li>
                {% endif %}
            </ul>

        </li>
        <li {% if app.request.attributes.get('_route') == 'glstock_settings' %}
            class="active dropdown"
            {% else %}
            class="dropdown"
            {% endif %}>
            <a class="dropdown-toggle" data-toggle="dropdown" href="">
                Settings <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="{{ path('glstock_settings') }}#company">
                        <i class="glyphicon glyphicon-tower"></i>
                        Company</a></li>
                <li><a href="{{ path('glstock_settings') }}#application">
                        <i class="glyphicon glyphicon-wrench"></i>
                        Application</a></li>
                <li><a href="{{ path('glstock_settings') }}#divers">
                        <i class="glyphicon glyphicon-info-sign"></i>
                        Divers</a></li>
            </ul>

        </li>
        <span class="pull-right">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                connecté en tant que {{ app.user.username }} - <a class="btn btn-default btn-primary btn-sm" href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
            {% else %}
                <a class="btn btn-default btn-primary btn-sm" href="{{ path('fos_user_security_login') }}">Connexion</a>
            {% endif %}
        </span>
    </ul>

    {#{ render(controller("GlsrGestockBundle:Gestock:alerts", {'nombre': 3})) }#}

{% endblock %}

{% block body %}
    {# On définit un sous-titre commun à toutes les pages du bundle, par exemple #}
    <h1>Gestock</h1>
    
    <hr />
    {% for message in app.session.flashbag.get('info') %}
    <p class="alert alert-info">{{ message }}</p>
    {% endfor %}
    {% for message in app.session.flashbag.get('error') %}
    <p class="alert alert-danger">{{ message }}</p>
    {% endfor %}

    {# On définit un nouveau block, que les vues du bundle pourront remplir #}
    {% block glstock_body %}
    {% endblock %}
{% endblock %}
