{% extends "base.html.twig" %}

{% form_theme form 'AppBundle:Form:bootstrap_3_horizontal_layout.html.twig' %}

{% block title %}{{ '%entity% creation'|trans({'%entity%': 'User'}, 'admin') }} - {{ parent() }}{% endblock %}

{% block body_title %}
    {{ '%entity% creation'|trans({'%entity%': 'User'}, 'admin') }}
{% endblock body_title %}

{% block glstock_body %}
    {{ form_start(form, {action: path('admin_users_create')}) }}
        {{ form_widget(form) }}
        <p>
            <button class="btn btn-primary" type="submit">{{ 'Create'|trans({}, 'admin') }}</button>
        </p>
    {{ form_end(form) }}

        
        <div class="btn-group record_actions">

            <a class="btn btn-info" href="{{ path('admin_users') }}">
                <i class="fa fa-list"></i> {{ 'Back to the list'|trans({}, 'admin') }}
            </a>


        </div>
{% endblock glstock_body %}
