<table class="table table-hover">
    <thead>
        <tr>
            <th class="text-center col-md-1">{{ 'gestock.id'|trans }}</th>
            <th class="col-md-6">{{ 'gestock.title_item'|trans }}</th>
            <th class="text-center col-md-1">
                {{ 'settings.quantity'|trans({}, 'gs_articles') }}
            </th>
            <th class="text-center col-md-2">
                {{ 'seizure.realstock'|trans({}, 'gs_inventories') }}
            </th>
            <th class="text-center col-md-1">
                {{ 'gestock.settings.diverse.unitstorage'|trans }}
            </th>
            <th class="text-center col-md-1">
                {{ 'settings.price'|trans({}, 'gs_articles') }}
            </th>
            <th class="text-center col-md-1">{{ 'gestock.amount'|trans }}</th>
            <th class="text-center col-md-1">
                {{ 'seizure.gap'|trans({}, 'gs_inventories') }}
            </th>
        </tr>
    </thead>
    <tbody>
        {% for inv in inventart %}
        <tr>
            <td class="text-center">{{ inv.article.id }}</td>
            <td>{{ inv.article.name }}</td>
            <td class="text-right">{{ inv.quantity|number_format(3, ',', ' ') }}</td>
            <td class="text-right">
                   {{ inv.realstock|number_format(3, ',', ' ') }}
            </td>
            <td class="text-center">{{ inv.unitstorage }}</td>
            <td class="text-right">{{ inv.price|number_format(3, ',', ' ') }} €</td>
            <td class="text-right">{{ (inv.realstock * inv.price)|number_format(3, ',', ' ') }} €</td>
            {% if (inv.realstock - inv.quantity) >= 0 %}
            <td class="text-right">{{ (inv.realstock - inv.quantity)|number_format(3, ',', ' ') }}</td>
            {% else %}
            <td class="text-right negative">{{ (inv.realstock - inv.quantity)|number_format(3, ',', ' ') }}</td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th colspan="6">{{ 'gestock.amount'|trans }}</th>
            <td class="text-right">{{ inventory.amount|number_format(3, ',', ' ') }} €</td>
            <td>&nbsp;</td>
        </tr>
    </tfoot>
</table>
