<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Inventory - Gestock</title>
        <style type="text/css">
            * {
                -webkit-box-sizing: border-box;
                   -moz-box-sizing: border-box;
                        box-sizing: border-box;
            }
            *:before,
            *:after {
                -webkit-box-sizing: border-box;
                   -moz-box-sizing: border-box;
                        box-sizing: border-box;
            }
            body {
                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                font-size: 14px;
                line-height: 1.42857143;
                color: #333;
                background-color: #fff;
            }

            .container {
                margin: 20mm 0;
                min-width: 200mm;
            }

            .col-lg-2, .col-lg-4 {
                min-height: 20px;
                padding-right: 15px;
                padding-left: 15px;
            }

            .container .col-lg-12 {
                width: 200mm;
            }
            .col-lg-12 {
                width: 210mm; //100%;
            }
            .col-lg-4 {
                width: 33.33333333%; //66.6666667mm;
            }
            .col-lg-2 {
                width: 16.66666667%; //33.3333333mm;
            }
            .col-lg-6 {
                width: 105mm; //50%;
            }
            .right {
                text-align: right;
            }
            .center {
                text-align: center;
            }

            table {
                border-spacing: 0;
                border-collapse: collapse;
                width: 100%;
            }
            .table-bordered th,
            .table-bordered td {
                border: 1px solid #ddd !important;
            }
            .table-bordered > thead th,
            .table-bordered > thead td {
                border-bottom-width: 2px !important;
            }

            .table-bordered th {
                line-height: 1.5em;
            }
            .page-break{
                margin-left:100px;
                display: block;
                clear: both;
                page-break-after:always;
            }
        </style>
    </head>
    <body>
        {% for zstor in zonestorage %}
        <div class="container">
            <table class="table-bordered">
                <thead>
                    <tr>
                        <th class="col-lg-4">{{ 'gestock.name'|trans }}</th>
                        <th class="col-lg-2 center">price</th>
                        <th class="col-lg-2 center">quantity</th>
                        <th class="col-lg-2 center">unitstorage</th>
                        <th class="col-lg-2 center">Inventaire</th>
                    </tr>
                </thead>
                <tbody>
                    {% set index = 1 %}
                    {% for article in articles %}
                        {% for artzone in article.zonestorages %}
                            {% if artzone.name == zstor.name %}
                                {% if index == 1 %}
                                    <tr>
                                        <th class="col-lg-12 center" colspan="5">{{ zstor.name }} </th>
                                    </tr>
                                {% endif %}
                                <tr>
                                    <td class="col-lg-4">{{ article.name }}</td>
                                    <td class="col-lg-2 right">{{ article.price }} €</td>
                                    <td class="col-lg-2 right">{{ article.quantity }}</td>
                                    <td class="col-lg-2 center">{{ article.unitstorage }}</td>
                                    <td class="col-lg-2"> </td>
                                </tr>
                                {% set index = 0 %}
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="page-break"></div>
        {% endfor %}
    </body>
</html>