<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{ 'title'|trans({}, 'gs_inventories') }} - {{ 'title_page'|trans }}</title>
        <style type="text/css">
            * {
                -webkit-box-sizing: border-box;
                   -moz-box-sizing: border-box;
                        box-sizing: border-box;
            }
            *:before,
            *:after {
                -webkit-box-sizing: border-box;
                   -moz-box-sizing: border-box;
                        box-sizing: border-box;
            }
            body {
                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                font-size: 14px;
                line-height: 1.42857143;
                color: #333;
                background-color: #fff;
            }
            header:after {
                clear: both;
            }

            .container {
                margin: 20mm 0;
                min-width: 200mm;
            }
            .container > header {
                padding-bottom: 10px;
            }
            .container > section.row {
                padding-top: 10px;
            }
            .container .col-lg-12 {
                width: 200mm;
            }

            div.col-lg-4 {
                float: left;
            }
            .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4 {
                min-height: 20px;
                padding-right: 15px;
                padding-left: 15px;
            }

            .col-lg-12 {
                width: 210mm; //100%;
            }
            .col-lg-6 {
                width: 105mm; //50%;
            }
            .col-lg-4 {
                width: 33.33333333%; //66.6666667mm;
            }
            .col-lg-3 {
                width: 25%;
            }
            .col-lg-2 {
                width: 16.66666667%; //33.3333333mm;
            }
            .col-lg-1 {
              width: 8.33333333%;
            }
            .col-lg-offset-3 {
              margin-left: 25%;
            }
            .col-lg-offset-4 {
              margin-left: 33.33333333%;
            }
            .col-lg-offset-2 {
              margin-left: 16.66666667%;
            }
            .right {
                text-align: right;
            }
            .center {
                text-align: center;
            }
            .negative {
                color: red!important;
                font-weight: bold!important;
            }

            .table {
                border-spacing: 0;
                border-collapse: collapse;
                width: 100%;
                max-width: 100%;
                margin-bottom: 14px;
            }
            .table > tbody > tr > th,
            .table > tbody > tr > td {
                padding: 8px;
                line-height: 1.22448979;
                vertical-align: top;
            }
            .table-bordered th,
            .table-bordered td {
                border: 1px solid #ddd !important;
            }
            .table-bordered > thead th,
            .table-bordered > thead td {
                border-bottom-width: 2px !important;
            }

            .table-bordered th {
                line-height: 1.5em;
            }
            .page-break{
                margin-left:100px;
                display: block;
                clear: both;
                page-break-after:auto;
            }
            .clearfix:before,
            .clearfix:after {
                clear: both;
                content: " ";
                display: table;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <header>
                <div class="col-lg-4">
                    {{ 'show.title'|trans({'%inventory.date%': inventory.date|date('d/m/Y')}, 'gs_inventories') }}
                </div>
                <div class="col-lg-4 col-lg-offset-4 right">
                    {{ 'gestock.amount'|trans }} : {{ inventory.amount }}€
                </div>
            </header>
            <div class="clearfix"></div>
            <section class="row">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="col-lg-1">{{ 'gestock.id'|trans }}</th>
                            <th class="col-lg-4">{{ 'gestock.name'|trans }}</th>
                            <th class="col-lg-2">
                                {{ 'settings.price'|trans({}, 'gs_articles') }}
                            </th>
                            <th class="col-lg-1">
                                {{ 'settings.quantity'|trans({}, 'gs_articles') }}
                            </th>
                            <th class="col-lg-1">
                                {{ 'seizure.realstock'|trans({}, 'gs_inventories') }}
                            </th>
                            <th class="col-lg-1">
                                {{ 'gestock.settings.diverse.unitstorage'|trans }}
                            </th>
                            <th class="col-lg-2">
                                {{ 'seizure.gap'|trans({}, 'gs_inventories') }}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for article in articles %}
                            <tr>
                                <td class="center">{{ article.id }}</td>
                                <td>{{ article.article }}</td>
                                <td class="right">{{ article.price }} €</td>
                                <td class="right">{{ article.quantity }}</td>
                                <td class="right">{{ article.realstock }}</td>
                                <td class="center">{{ article.unitstorage }}</td>
                                {% if (article.realstock - article.quantity) >= 0 %}
                                <td class="right">{{ (article.realstock - article.quantity)|number_format(3, ',', ' ') }}</td>
                                {% else %}
                                <td class="right negative">{{ (article.realstock - article.quantity)|number_format(3, ',', ' ') }}</td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </section>
        </div>
        <div class="page-break"></div>
    </body>
</html>
