{% extends "base.html.twig" %}

{% form_theme valid_form 'AppBundle:Form:bootstrap_3_horizontal_layout.html.twig' %}

{% block title %}
    {{ '%entity% valid'|trans({'%entity%': 'title'|trans({}, 'gs_inventories')}, 'admin') }} - {{ parent() }}
{% endblock %}

{% block body_title %}
    <i class="fa fa-barcode" aria-hidden="true"></i> 
    {{ '%entity% valid'|trans({'%entity%': 'title'|trans({}, 'gs_inventories')}, 'admin') }}
{% endblock %}

{% block glstock_body %}
    {{ form_start(valid_form) }}
    <div class="alert alert-warning">{{ 'close.caution'|trans({'%inventory.date%': inventory.date|date('d/m/Y')}, 'gs_inventories')|nl2br }}</div>
        {{ form_widget(valid_form) }}
        <p>
            <span class="col-md-4">{{ 'Do you want to proceed?'|trans({}, 'admin') }}</span>
            <span class="col-md-8">
                <button class="btn btn-danger" type="submit">{{ 'Yes'|trans({}, 'admin') }}</button>
                <a href="{{ path('inventory') }}" class="btn btn-default" data-dismiss="modal">{{ 'No'|trans({}, 'admin') }}</a>
            </span>
        </p><p>&nbsp;</p>
    {{ form_end(valid_form) }}
        
        <div class="btn-group record_actions">
            {% include 'homeButton.html.twig' %}
            <a class="btn btn-info" href="{{ path('inventory') }}">
                <i class="fa fa-list"></i> {{ 'gestock.return_list'|trans }}
            </a>
        </div>

{% endblock %}
