{% extends "base.html.twig" %}

{% block title %}
    {{ 'gestock.settings.company.title'|trans }} - {{ parent() }}
{% endblock %}

{% block body_title %}
    <span class="glyphicon glyphicon-tower" aria-hidden="true"></span>
    {{ 'gestock.settings.company.title'|trans }} - <small>{{ company.name }}</small>
{% endblock %}

{% block glstock_body %}
    <table class="table table-hover record_properties">
        <tbody>
            <tr>
                <th scope="row" class="col-md-2">{{ 'gestock.address'|trans }}</th>
                <td>
                    {{ company.address }}<br />
                    {{ company.zipcode }} {{ company.town }}
                </td>
            </tr>
            <tr>
                <th scope="row">{{ 'gestock.phone'|trans }}</th>
                <td>{{ company.phone|phone_number_format('NATIONAL') }}</td>
            </tr>
            <tr>
                <th scope="row">{{ 'gestock.fax'|trans }}</th>
                <td>{{ company.fax|phone_number_format('NATIONAL') }}</td>
            </tr>
            <tr>
                <th scope="row">{{ 'gestock.gsm'|trans }}</th>
                <td>{{ company.gsm|phone_number_format('NATIONAL') }}</td>
            </tr>
            <tr>
                <th scope="row">{{ 'gestock.mail'|trans }}</th>
                <td>{{ company.mail }}</td>
            </tr>
            <tr>
                <th scope="row">{{ 'gestock.contact'|trans }}</th>
                <td>{{ company.contact }}</td>
            </tr>
            <tr>
                <th scope="row">{{ 'gestock.settings.company.status'|trans }}</th>
                <td>{{ company.status }}</td>
            </tr>
        </tbody>
    </table>

    {{ form_start(delete_form) }}
        {{ form_widget(delete_form) }}

        <div class="btn-group record_actions">
            {% include 'homeButton.html.twig' %}
            <a class="btn btn-info btn-list" href="{{ path('company') }}">
                {{ 'gestock.return_list'|trans }}
            </a>

            <a class="btn btn-primary btn-edit" href="{{ path('company_edit', {id: company.id}) }}">
                {{ 'Edit'|trans({}, 'admin') }}
            </a>
            <button class="btn btn-danger btn-delete" type="submit">
                {{ 'Delete'|trans({}, 'admin') }}
            </button>

        </div>

        <input name="modal" type="hidden" value="0">
    {{ form_end(delete_form) }}

    {% include 'deleteForm.html.twig' %}
{% endblock %}
