{% extends "base.html.twig" %}

{% form_theme form 'Form/bootstrap_3_horizontal_layout.html.twig' %}

{% block title %}
    {{ '%entity% creation'|trans({'%entity%': 'gestock.settings.diverse.vat'|trans}, 'admin') }} - {{ parent() }}
{% endblock %}

{% block body_title %}
    <span class="glyphicon glyphicon-piggy-bank"></span>
    {{ '%entity% list'|trans({'%entity%': 'gestock.settings.diverse.vat'|trans}, 'admin') }}
{% endblock %}

{% block glstock_body %}
    {% include 'App/Settings/Diverse/Tva/form.html.twig' %}

        <div class="btn-group record_actions">
            {% include 'homeButton.html.twig' %}
            <a class="btn btn-info btn-list" href="{{ path('tva') }}">
                {{ 'gestock.return_list'|trans }}
            </a>
        </div>

{% endblock %}
