{# src\Glsr\UserBundle\Resources\views\layout.html.twig #}

{# On étend notre layout #}
{% extends "::layout.html.twig" %}

{% block header %}
    <div class="page-header">
        <h1>
            <span class="glyphicon glyphicon-cutlery"></span>
            {{ 'glsr.title'|trans }} <small>{{ 'glsr.subtitle'|trans }}</small>
            <small class="pull-right">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    {{ 'glsr.connect_as'|trans({'%username%': app.user.username}) }} - <a class="btn btn-default btn-primary btn-sm" href="{{ path('fos_user_security_logout') }}">{{ 'glsr.logout'|trans }}</a>
                {% else %}
                    <a class="btn btn-default btn-primary btn-sm" href="{{ path('fos_user_security_login') }}">{{ 'glsr.login'|trans }}</a>
                {% endif %}
            </small>
        </h1>
    </div>
{% endblock %}

{% block menu_bundle %}
    <ul class="nav nav-tabs" role="tablist">
        <li><a href="{{ path('glstock_home') }}">{{ 'glsr.gestock.home.title'|trans }}</a></li>
    </ul>

    {#{ render(controller("GlsrGestockBundle:Gestock:alerts", {'nombre': 3})) }#}

{% endblock %}


{% block body %}
    {# On affiche les messages flash #}
    {% for key, message in app.session.flashbag.all() %}
        <div class="alert alert-{{ key }}">
            {{ message|trans({}, 'FOSUserBundle') }}
        </div>
    {% endfor %}

    {# On définit ce block, dans lequel vont venir s'insérer les autres vues du bundle #}
    {% block fos_user_content %}
    {% endblock fos_user_content %}

{% endblock %}
